<style>
    <%- include('./index.css') %>
</style>

<h2>Events</h2>

<section class="fill-main">
    <div class="raised">
        <div class="event">
            <h3 class="ff">Faith and Finance (12 Week Course)</h3>
            <p>
                This course focuses on financial literacy for low-income or financially vulnerable adults.
                It also encourages learners to protect their assets and consider their net wealth.
            </p>
            <p>When: Every Tuesday, starting March 25, 2025. The course runs for 12 weeks.</p>
            <p>Where: First Christian Church in Centralia - 1215 West Main St. Centralia, WA 98531</p>
            <p>Time: 7:00pm - 8:30pm</p>
            <p>This training is open to everyone and is free of charge. We hope to see you there!</p>
            <a class="external" href="/faith-and-finance">Learn More</a>
        </div>
    
        <!-- <hr class="for-space"> -->

        <!-- <h3>No events for now. Please check back later. Thank you!</h3> -->
    </div>

    <div class="cross-bg">
        <div class="stake">
            <div class="bar"></div>
        </div>
    </div>
</section>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();

    base.do("tally", { route: "/the-front/scripts" });
    setTimeout(() => {
        setInterval(() => {
            base.do("tally-extra", { route: "/the-front/scripts" });
        }, 30000);
    }, 3000);
</script>