<style>
    <%- include("./index.css") %>
</style>

<div class="nav">
    <a class="home" href="/apps/s/home">
        &lt; Home
    </a>
    <p>
        &lt; Stories
    </p>
</div>

<div class="meta" id="stories"></div>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script>
    const metaBrowser = new MetaBrowser({
        header: "Your Stories"
    });
    metaBrowser.addService("stories", {
        fields: new NBField({
            name: "story",
            label: "Story: ",
            placeholder: "No Story"
        }, [
            new NBField({
                name: "title",
                label: "Title: ",
                placeholder: "Story Title",
                type: "string"
            }),
            new NBField({
                name: "source",
                label: "Source: ",
                placeholder: "Story Source",
                type: "string"
            }),
            new NBField({
                name: "content",
                label: "Content: ",
                placeholder: "Story Content",
                type: "long-string"
            })
        ]),
        label: "Story:",
        editable: true,
        multiple: true
    });
    metaBrowser.render();
</script>