<div class="ground" id="lawn"></div>

<hr>

<a class="to" href="/forest/eye/school/lobby">
    Enter the School
</a>

<a class="to" href="/forest/eye/school/back">
    Go Around to the Back
</a>

<a class="to" href="/forest/eye/school/lab">
    Go to the Lab
</a>

<hr>

<a class="to" href="/forest/eye/church">
    Head to the Church
</a>

<a class="to" href="/forest/eye/inn">
    Head to the Inn
</a>

<a class="to" href="/forest/eye/filter/tower">
    Head into the Filter
</a>

<script src="/js/util/weather.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/plants/part.js"></script>
<script src="/js/plants/lawn.js"></script>
<script>
    const weather = new WeatherSystem("random");
    const lawn = new Lawn();
</script>