<p>
    You enter the room reserved for small groups.
</p>

<div class="meta"></div>

<hr>

<a class="return" href="/forest/eye/church/sanctuary">
    Return to the Sanctuary
</a>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script>
    const metaBrowser = new MetaBrowser({
        header: "Small Groups"
    });
    metaBrowser.addService("small-group", {
        fields: new NBField({
            name: "small-group",
            label: "Small Group: ",
            placeholder: "No Small Group"
        }, [
            new NBField({
                name: "name",
                label: "Group Name: ",
                placeholder: "Small Group",
                type: "string"
            }),
            new NBField({
                name: "location",
                label: "Location: ",
                placeholder: "No Location",
                type: "string"
            }),
            new NBField({
                name: "nextMeeting",
                label: "Next Meeting Time: ",
                placeholder: "Right after church",
                type: "string"
            }),
            new NBField({
                name: "people",
                multiple: true,
                label: "People: ",
                placeholder: "No People"
            }, [
                new NBField({
                    name: "name",
                    label: "Name: ",
                    placeholder: "No Name",
                    type: "string"
                }),
                new NBField({
                    name: "notes",
                    label: "Notes: ",
                    placeholder: "No Notes",
                    type: "long-string"
                }),
            ]),
            new NBField({
                name: "notes",
                label: "Notes: ",
                placeholder: "No Notes",
                type: "long-string"
            }),
            new NBField({
                name: "requests",
                label: "Prayer Requests: ",
                placeholder: "No Requests",
                multiple: true,
                type: "string"
            }),
        ]),
        editable: true,
        multiple: true,
        toLoad: async () => {
            let res = await base.load("small-group");
            return res;
        },
        toSave: async (item, which, deleting) => {
            await base.do("save-small-group", { item, which, deleting });
        }
    });
    metaBrowser.render();
</script>