<style>
    <%- include("./index.css") %>
</style>

<div class="floatables">
    <div class="meta"></div>
</div>

<hr>

<a class="return" href="/forest/eye/library/lobby">
    Return to the Lobby
</a>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/floatable.js"></script>
<script>
    const metaBrowser = new MetaBrowser({
        label: "Your Notes"
    });
    metaBrowser.addService("notes", {
        fields: new NBField({
            name: "note",
            label: "Note: ",
            placeholder: "No Note"
        }, [
            new NBField({
                name: "title",
                label: "Title: ",
                placeholder: "No Title",
                type: "string"
            }),
            new NBField({
                name: "content",
                label: "Content: ",
                placeholder: "No Content",
                type: "long-string"
            })
        ]),
        label: "Notes",
        editable: true,
        multiple: true,
        toLoad: async () => {
            return await base.loadAll("notes");
        },
        toSave: async (item, deleting) => {
            await base.do("save-note", { item, deleting });
        }
    });
    metaBrowser.render();

    const floatBoard = new FloatBoard();
</script>