<div class="meta"></div>

<hr>

<a class="to" href="/forest/eye/artisans">
    Exit the Workshop
</a>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script>
    const metaBrowser = new MetaBrowser({
        header: "Your Projects",
        useBrowser: TreeBrowser
    });
    metaBrowser.addService("projects", {
        fields: new NBField({
            name: "project-node",
            placeholder: "No Info",
            label: "Node: "
        }, [
            new NBField({
                name: "name",
                placeholder: "No Name",
                label: "Name: ",
                type: "string"
            }),
            new NBField({
                name: "description",
                placeholder: "No Description",
                label: "Description: ",
                type: "long-string",
                multiple: true
            })
        ]),
        editable: true,
        multiple: true,
        toLoad: async () => {
            return await base.loadAll("projects");
        },
        toSave: async (item, deleting) => {
            await base.do("save-project", { item, deleting });
        }
    });
    metaBrowser.render();
</script>