<%- include("../../../parts/poiHead.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/tylers-house.css">

<!-- Your HTML Here -->
<main class="centerAligned">
    <img id="gui" src="/img/GUI.png">
    <img id="environment" src="/img/house-close.png"/>
</main>

<!-- Load Scripts Here -->

<%- include("../../../parts/footer.ejs"); %>