:root {
    --main-color: rgb(64, 130, 228);
    --main-color-transparent: rgba(64, 130, 228, 0.219);
    --main-color-hover: rgb(74, 136, 230);
    --alternating-color: rgb(243, 248, 255);
    --second-color: #ffffff;
    --second-color-transparent: rgba(255, 255, 255, 0.219);
    --second-color-hover: #e2e2e2;
    --shadow-color: rgba(0,0,0,0.55);
    --shadow: 1px 5px 14px 1px var(--shadow-color);
    --text-shadow: 1px 1px 1px var(--shadow-color);
    --blue-text-shadow: 1px 1px 1px #000075;
    --max-main-width: 1000px;
    --border-radius: 10px;
    --button-scale: scale(1.01);
    --third-color: #f0f0f0;
    --fourth-color: #003e74; 
    --fifth-color: #e36820;
    --fifth-color-hover: #f37228;

    /* colors */
    --clickable: linear-gradient(90deg, rgba(255,255,255,0.015) 0%, rgba(255,255,255,0.03) 50%, rgba(255,255,255,0.015) 100%);
    --tint: rgba(0, 0, 0, 0.123);
    --bgColor: rgb(37, 37, 37);
    --bgColorGradient: linear-gradient(170deg, rgba(37,37,37,1) 0%, rgba(15,15,15,1) 100%);
    --bgCanvas: rgb(233, 229, 224);
    --bgCanvasGradient: linear-gradient(170deg, rgb(233, 229, 224) 0%, rgb(51, 47, 41) 100%);
    --bgColorTransparent: rgba(37, 37, 37, 0.76);
    --mediumBgColorGradient: linear-gradient(170deg, rgba(37, 37, 37,1) 0%, rgba(27,27,27,1) 100%);
    --darkBgColor: rgb(27, 27, 27);
    --darkBgColorGradient: linear-gradient(170deg, rgba(27,27,27,1) 0%, rgba(5,5,5,1) 100%);
    --veryDarkBgColorTransparent: rgba(15, 15, 15, 0.404);
    --veryDarkBgColor: rgb(15, 15, 15);
    --lightBgColor: rgb(57, 57, 57);
    --selectionColor: rgb(58, 58, 58);
    --selectedTextColor: rgb(248, 192, 100);
    --hoverColor: rgb(49, 49, 49);
    --hoverTextColor: rgb(255, 255, 255);
    --shadowColor: rgba(7, 7, 7, 0.281);
    --textColor: rgb(231, 231, 231);
    --textColorBright: rgb(255, 255, 255);
    --woodColor: rgb(133, 96, 62);
    --darkWoodColor: rgb(70, 50, 32);
    --ceilingBG: rgba(202, 202, 202, 0.034);
    --sideWallBG: rgba(151, 145, 138, 0.041);
    --backWallBG: rgba(151, 145, 138, 0.128);
    --foundationBG: rgba(29, 17, 5, 0.10);
    --glassBG: rgba(255, 255, 255, 0.048);
    --glassBGHover: rgba(255, 255, 255, 0.103);
    /* borders */
    --standardBorder: 1px solid var(--textColor);
    --thickBorder: 5px solid var(--textColor);
    --brightBorder: 1px solid var(--textColorBright);
    --darkBorder: 2px solid var(--veryDarkBgColorTransparent);
    /* font */
    --h1Size: 32px;
    --h2Size: 22px;
    --h3Size: 20px;
    --h4Size: 26px;
    --h5Size: 16px;
    --pSize: 18px;
    --tinyText: 14px;
    --inputHeight: 42px;
    /* boxes */
    --padding: 5px;
    --mediumPadding: 10px;
    --thickPadding: 20px;
    --margin: 5px;
    --thickMargin: 20px;
    --tabMargin: 50px;
    --fillFromMargin: calc(100% - (2 * var(--margin)));
    --fillFromThickMargin: calc(100% - (2 * var(--thickMargin)));
    --fillHalfFromMargin: calc(50% - (2 * var(--margin)));
    --fillHalfFromThickMargin: calc(50% - (2 * var(--thickMargin)));
    --fillThirdFromMargin: calc((1 / 3) * 100% - (2 * var(--margin)));
    --fillThirdFromThickMargin: calc((1 / 3) * 50% - (2 * var(--thickMargin)));
    --fillQuarterFromMargin: calc(25% - (2 * var(--margin)));
    --fillQuarterFromThickMargin: calc(25% - (2 * var(--thickMargin)));
    --shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.13), -3px -3px 3px 1px rgba(0, 0, 0, 0.13), 3px -3px 3px 1px rgba(0, 0, 0, 0.13), -3px 3px 3px 1px rgba(0, 0, 0, 0.13);
    --boxShadow: 1px 3px 8px 1px var(--shadow-color);
    --goHeight: 100px;
    --returnHeight: 10vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scrollbar-color: var(--main-color) var(--second-color);
}

/* elements */
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100svh;
}

main {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    box-shadow: var(--shadow);
    background: white;
    padding: 0;
    position: relative;
    justify-content: center;
    overflow: hidden;
    align-content: flex-start;
}

body {
    margin: 0;
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100svh;
}

body::after{
    position: absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1; 
    content: url('/img/banner.webp'); 
 }

img {
    width: 100%;
    height: auto;
}

input, textarea {
    border-radius: var(--border-radius);
    border: 1px solid black;
}

input:hover, textarea:hover {
    border: 1px solid var(--main-color);
}

input:focus, textarea:focus {
    border: 3px solid var(--main-color);
}

header {
    width: 100%;
    height: 130px;
    text-align: center;
    background: white;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-direction: column;
    min-height: 20px;
    align-content: center;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    /* z-index: 0; */
}

section p {
    width: 100%;
    max-width: var(--max-main-width);
    padding: 10px;
}

button {
    width: auto;
    height: auto;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    display: flex;
    justify-content: center;
    text-shadow: var(--text-shadow);
}

i {
    padding-top: 1px;
}

button:hover {
    background: var(--main-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

h2 {
    width: 100%;
    max-width: var(--max-main-width);
    font-size: 60px;
    margin: 5px 0;
    margin-top: 40px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

h3 {
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
}

h4 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    font-family: "Ubuntu", sans-serif;
}

h5 {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin: 0;
    margin-top: 20px;
    font-family: "Ubuntu", sans-serif;
}

h6 {
    text-align: center;
    width: 100%;
    font-size: 15px;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

p {
    width: 100%;
    font-size: var(--pSize);
    margin: 5px 0;
    padding: 5px;
}

a {
    font-size: 20px;
}

ul, ol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: flex-start;
    width: 100%;
    max-width: var(--max-main-width);
    padding: 10px calc(3% + 5px);
}

li {
    width: 100%;
    margin: 5px;
    font-size: 18px;
}

hr {
    border: 1px solid var(--main-color-hover);
    margin: 10px 0;
    width: 100%;
}

main>h2 {
    width: 100%;
    margin: 0;
    text-align: left;
    background: var(--main-color);
    color: white;
    max-width: 100%;
    padding: 40px;
    height: min-content;
    text-shadow: var(--text-shadow);
}

input {
    width: 100%;
    height: 60px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

input[type="checkbox"] {
    width: 4vh;
    height: 4vh;
    margin: 0;
    margin-left: 10px;
}

input[type="radio"] {
    width: 4vh;
    height: 4vh;
    margin: 0 10px;
}

/* national bar */
div.national {
    width: 100%;
    height: 55px;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
    overflow: hidden;
}

div.national .logo-items {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    margin-left: 10px;
}

div.national .logo-items p {
    font-size: 16px;
    text-shadow: var(--text-shadow);
}

div.national .logo-items a {
    font-weight: bold;
    font-size: 16px;
    text-shadow: var(--text-shadow);
}

.logo-items img {
    height: 27px;
    width: 32px;
    margin: 5px;
    margin-left: 15px;
}

div.national a#start {
    height: 100%;
    margin: 0;
    margin-right: 30px;
    font-size: 16px;
    text-shadow: var(--text-shadow);
    display: flex;
    align-items: center;
}

div.national a {
    text-decoration: none;
    color: #f2f2f2;
}

/* nav bar */
nav {
    width: 100%;
    height: 80px;
    background-color: var(--second-color);
    padding: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

nav #close-nav {
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: auto;
    height: 100%;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    padding: 0;
    gap: 5px;
}

nav ul li {
    margin: 0;
    display: flex;
    align-items: center;
    height: calc(100% - 10px);
    margin-right: 5px;
    width: auto;
    margin-top: 10px;
}

nav ul a {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
}

nav a {
    text-decoration: none;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--main-color);
    text-align: center;
    justify-content: center;
}

nav a:hover {
    background-color: var(--second-color-hover);
    color: var(--main-color);
}

nav .nav-header {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    margin-left: 15px;
}

nav .nav-header:hover {
    background: none;
    transform: var(--button-scale);
}

nav #donate {
    margin: 15px;
    height: 50px;
    padding: 5px 10px;
}

nav #donate:hover {
    color: var(--second-color);
    background: var(--fifth-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

/* nav #donate img {
    height: 70%;
    width: auto;
    padding-left: 5px;
}

nav #donate p {
    padding: 5px;
} */

nav a img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

nav a p {
    padding: 15px;
}

/* mailing list sign up */
.mailing-list {
    padding: 70px 0;
    flex-direction: row;
    background: url('/img/bg/spring/rb3.jpeg');
    background-size: auto 100%;
    background-repeat: repeat-x;
}

.mailing-list h3 {
    width: auto;
    margin: 0;
}

.mailing-list p {
    text-align: center;
    padding: 10px 20px;
}

.sign-up {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    margin: 20px calc(50% - 400px + 10px);
    border-radius: var(--border-radius);
    box-shadow: #002647 1px 5px 14px 1px;
    background: var(--second-color);
}

.sign-up label {
    min-width: 40%;
    width: auto;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.sign-up label input {
    width: auto;
    height: 40px;
    margin: 0 10px;
    padding: 10px;
    font-size: 20px;
}

/* .sign-up button {
    width: 150px;
    margin: 10px calc(50% - 75px);
    background: var(--fifth-color);
    text-shadow: var(--text-shadow);
}

.sign-up button:hover {
    background: var(--fifth-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
} */

/* selector */
ul.selector>li {
    width: var(--fillFromMargin);
    overflow: hidden;
    font-size: clamp(var(--littleP), var(--pSize), var(--littleP) * 2);
    border: none;
    border-bottom: var(--standardBorder);
    min-height: 40px;
    background: var(--clickable);
    border-radius: 5px;
    margin: var(--margin);
    display: flex;
    align-items: center;
}

ul.selector>li:hover {
    cursor: pointer;
    background: var(--fourth-color);
    color: var(--hoverTextColor);
}

ul.selector>li.selected {
    background: var(--selectionColor);
    color: var(--selectedTextColor);
}

ul.selector>p {
    color: rgb(78, 78, 78);
}

ul.selector>li.disabled {
    background: var(--fourth-color);
    color: var(--textColor);
    border: var(--standardBorder);
    cursor: default;
}

/* globals */
#alert {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: rgb(32, 32, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
}

.alert {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: rgb(32, 32, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
}

hr.for-space {
    margin: 80px 20%;
    width: 60%;
    border: 1px solid var(--fourth-color);
}

.grey {
    background: #f2f2f2;
}

.blue {
    background: var(--main-color);
    color: white;
    text-shadow: var(--text-shadow);
}

.raised {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.invisible {
    display: none !important;
}

.half {
    width: 50% !important;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    gap: 20px;
}

.perma-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
}

.column {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
}

.bottom-button {
    width: 90%;
    position: absolute;
    top: calc(100% - 3px);
    left: 5%;
    padding: 10px 20px !important;
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
    z-index: -1;
    text-align: center;
    margin: 0;
}

.card-list {
    display: flex;
    align-content: center;
    flex-direction: row;
    padding: 20px 50px;
    padding-left: calc((100% - var(--max-main-width)) / 4);
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    overflow-y: visible;
    overflow-x: auto;
    gap: 20px;
    align-items: stretch;
}

.card-grid {
    display: flex;
    align-content: center;
    padding-left: calc((100% - var(--max-main-width)) / 4);
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    justify-content: space-around;
}

.main-maxed {
    max-width: var(--max-main-width);
}

.main-vid {
    width: 75%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-top: 0;
    margin-bottom: 80px;
}

.reverse-card-list {
    display: flex;
    align-content: flex-end;
    padding-right: calc((100% - var(--max-main-width)) / 2);
    flex-direction: column-reverse;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: auto;
    height: 600px;
}

.card {
    width: 400px;
    height: auto;
    max-height: 500px;
    box-shadow: var(--boxShadow);
    border-radius: var(--border-radius);
    padding: 0;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 0;
    flex-shrink: 0;
    position: relative;
}

.max-card {
    width: var(--max-main-width);
    height: auto;
    max-height: initial;
    margin-bottom: 40px;
}

.long.card {
    width: 530px;
    height: 400px;
}

.small.card {
    width: 300px;
    height: 300px;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    margin-top: 0;
}

.card h5 {
    background: var(--main-color);
    color: var(--second-color);
    margin: 0px 0 10px 0;
    padding: 10px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    text-shadow: var(--text-shadow);
}

.max-card h5 {
    padding: 20px;
}

.card p {
    padding: 0 20px;
}

.max-card p {
    padding: 5px 40px;
}

.card a {
    margin: 0 20px;
}

main #nav-button {
    display: none;
    text-shadow: var(--text-shadow);
}

a.external, button.external {
    text-decoration: none;
    background: var(--fifth-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 20px 30px;
    margin: 0;
    box-shadow: var(--boxShadow);
    text-shadow: var(--text-shadow);
}

a.external:hover, button.external:hover {
    background: var(--fifth-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

a.external.inverted, button.external.inverted {
    background: none;
    box-shadow: none;
    color: var(--fifth-color);
}

footer {
    position: absolute;
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 40px;
    width: 90vw;
    max-width: 800px;
    background-color: var(--fourth-color);
    border-radius: 0px 0px 5px 5px;
    box-shadow: var(--boxShadow);
    padding: 0;
    padding-left: 1vw;
    border: none;
    top: 0;
    left: 1vw;
}

footer .view-toggle {
    display: none;
}

footer .view-toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: var(--bgColor);
    border-radius: 0 0 0 5px;
}

footer .view-toggle:hover {
    background: var(--hoverColor);
}

footer button {
    margin: 0;
    height: 100%;
    border-radius: 5px 0 5px 5px;
    border: none;
    border-left: var(--standardBorder);
}

footer button:hover {
    border: none;
    border-left: 1px solid var(--hoverTextColor);
}

footer a {
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 0;
    background: none;
}

div.footer {
    width: 100%;
    margin: 0;
    min-height: 15px;
    background: var(--main-color);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

div.footer p {
    width: 100%;
    color: white;
    padding: 0px 20px;
    font-size: 18px;
    margin: 1px;
}

div.footer h6 {
    width: 100%;
    color: white;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

div.footer a {
    color: white;
    width: 100%;
    padding: 0px 20px;
    font-size: 18px;
    margin: 1px;
    min-height: 24px;
}

div.footer * {
    text-shadow: var(--text-shadow);
}

div.footer .social {
    position: absolute;
    right: 5px;
    top: 25px;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

div.footer .social:hover {
    color: var(--fifth-color);
    transition: all 0.1s;
    transform: scale(1.01);
}

div.footer .insta {
    top: 80px;
}

div.footer i {
    font-size: 40px;
}

.selected {
    background-color: var(--main-color);
    color: white;
}

.form {
    width: 100%;
    max-width: calc(var(--max-main-width) * .8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin: 30px 0;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, 0.124);
    backdrop-filter: blur(10px);
}

.form label {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
}

.form .row label {
    width: 20%;
}

.form input {
    width: 100%;
    height: 60px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

.form .row input {
    width: 80%;
}

.form select {
    width: 100%;
    height: 60px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

.form input[type="radio"] {
    width: 50px;
    margin: 10px 10px;
    padding: 10px;
}

.form textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

.form h3, .form h4, .form h5, .form h6 {
    text-align: left;
}

.bar {
    width: calc(var(--max-main-width) + ((100% - var(--max-main-width)) / 2) + 5%);
    max-width: 100%;
    height: 75px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
}

.from-left {
    margin-left: calc((100% - var(--max-main-width)) / -2 - 20px);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    padding-right: 5%;
    justify-content: flex-end;
}

.from-right {
    margin-right: calc((100% - var(--max-main-width)) / -2 - 20px);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    padding-left: 5%;
    justify-content: flex-start;
}

.central-info {
    padding: 40px 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero {
    padding: 0;
}

.fade {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 10px;
    flex-direction: column;
    min-height: 20px;
    align-content: center;
    background: rgba(1, 1, 71, 0.425);
}

section .side {
    width: 50%;
    height: 500px;
    padding: 0;
    object-fit: cover;
    order: 0;
    object-position: center;
}

section .side.left {
    border-top-left-radius: 0 0;
    border-top-right-radius: 50% 100%;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
}

section .side.right {
    border-radius: 0;
    order: 99;
}

.cross-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    user-select: none;
}

.cross-bg .stake {
    width: 80px;
    height: 600px;
    position: absolute;
    bottom: -150px;
    left: 100px;
    border-radius: 50px;
    background: #b9c1c8;
    transform: rotate(45deg);
}

.cross-bg .bar {
    width: 350px;
    height: 80px;
    position: absolute;
    top: 20%;
    left: calc(50% - 175px);
    border-radius: 50px;
    background: #b9c1c8;
    max-width: initial;
}

a.link-button {
    text-decoration: none;
}

.info {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.info.full {
    width: 100%;
}

.info>.row {
    width: 90%;
}

.info>.row>p {
    padding: 0;
}

.info label .row {
    justify-content: flex-start;
}

.info .row .row {
    max-width: 50%;
    justify-content: flex-start;
}

.info .row .row label {
    width: auto;
    display: flex;
    align-items: center;
}

section.anniversary {
    background: rgb(156,206,207);
}

section.anniversary img {
    max-width: var(--max-main-width);
    height: auto;
}

section.has-also {
    overflow: visible;
}

a.also {
    position: absolute;
    left: 37.5%;
    bottom: -4vh;
    width: 25%;
    height: 8vh;
    background: var(--second-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: var(--main-color);
    box-shadow: var(--boxShadow);
    text-shadow: var(--text-shadow);
    font-size: var(--h2Size);
    text-decoration: none;
}

a.also:hover {
    box-shadow: 1px 5px 14px 1px rgb(169, 169, 169);
    transition: all 0.1s;
    transform: scale(1.01);
}

section.fill-main {
    min-height: 90vh;
}

section.showcase {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 40px 0;
}

section.showcase h3 {
    height: 100px;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.877);
    border-radius: 25px;
    z-index: 1;
}

section.showcase img {
    max-height: calc(100vh - 120px);
    max-width: 100%;
    height: auto;
    width: auto;
    margin-top: -120px;
    border-radius: 25px;
}

/* temp */
h3.ff {
    font-family: "Ubuntu", sans-serif;
    color: var(--second-color);
    background: linear-gradient(0deg, var(--main-color), rgb(154, 181, 250));
    padding: 25px;
    margin: 30px;
    border-radius: var(--border-radius);
    box-shadow: 1px 5px 14px 1px rgb(169, 169, 169);
    font-size: var(--h1Size);
    width: 90%;
}

.training .raised {
    box-shadow: var(--boxShadow);
    padding: 30px;
    border-radius: var(--border-radius);
}

/* styles for screens under 1500px wide */
@media only screen and (max-width: 1500px) {
    /* nav ul {
        gap: 5px;
    }

    nav ul li {
        width: auto;
    } */
}

/* styles for screens under 1100px wide */
@media only screen and (max-width: 1100px) {
    main {
        margin-top: 100px;
    }

    main>h2 {
        padding-top: 70px;
        padding-left: 15px;
        font-size: 50px;
    }

    main #nav-button {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        font-family: sans-serif;
        height: 40px;
        padding: 10px;
        margin: 0;
        justify-content: space-between;
        border-radius: 0;
        z-index: 5;
        width: 100%;
        background: var(--fifth-color);
    }

    main #nav-button:hover {
        background: var(--fifth-color-hover);
    }

    .info {
        width: 100%;
    }

    .info .row .row {
        max-width: 100%;
    }

    .side {
        width: 100%;
        border-left: none;
    }

    /* .buttons {
        align-items: flex-start;
        min-height: 150px;
        gap: 5px;
    }

    .buttons a {
        width: 100px;
        height: 100px;
    }

    .buttons a#volunteer p {
        bottom: -80px;
    } */

    div.national a#start {
        display: none;
    }

    nav {
        height: 100px;
        z-index: 5;
        flex-wrap: wrap;
        align-content: flex-start;
        position: absolute !important;
        top: 55px;
        left: 0;
        justify-content: center;
    }

    nav .nav-header {
        max-width: 420px;
        height: 100px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 50px;
        display: none;
    }

    nav ul li {
        width: 100%;
        height: 7vh;
        margin-top: 5px;
        padding: 0;
    }

    nav li #donate {
        border-radius: 0;
        height: 100%;
        margin: 0;
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    nav a {
        height: auto;
        width: 100%;
        object-position: center;
        max-height: 100px;
        margin-left: 0 !important;
    }

    nav ul a {
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    nav.mobile-full {
        height: calc(100svh - 55px);
        position: absolute;
        overflow-y: auto;
    }

    nav.mobile-full ul {
        display: flex;
    }

    nav #close-nav {
        display: none;
        position: absolute;
        right: 10px;
        top: 95px;
        font-family: sans-serif;
        width: 40px;
        height: 40px;
        padding: 10px;
        z-index: 1;
    }

    nav.mobile-full #close-nav {
        display: flex;
    }

    .fade {
        padding-top: 80px;
    }

    header {
        height: 80px;
    }

    .row {
        flex-wrap: wrap;
    }

    .hero h2 {
        font-size: 45px;
    }

    .central-info {
        padding: 20px;
    }

    .from-left {
        margin-left: -20px;
    }

    .from-right {
        margin-right: -20px;
    }

    section .side {
        width: 100%;
        border-radius: 0 !important;
        height: 250px;
    }

    .card-list {
        padding: 55px;
        /* flex-direction: column;
        align-content: center;
        flex-wrap: nowrap; */
        gap: 25px;
        /* align-items: center; */
    }
    
    .reverse-card-list {
        padding-right: 5px;
        flex-direction: column;
        height: auto;
        align-content: center;
    }

    .card {
        width: 85%;
        min-width: 200px;
        max-width: 400px;
    }

    .card.big-bottom {
        margin-bottom: 35px;
    }

    .long.card {
        width: 100%;
        height: auto;
        aspect-ratio: 106 / 80;
        max-height: initial;
    }

    .half {
        width: 100% !important;
    }

    section .side.right {
        order: 0;
    }

    .form .row label {
        width: 100%;
    }
    
    .form .row {
        flex-direction: column;
    }
    
    .form .row input {
        width: 100%;
    }

    .mailing-list .sign-up {
        margin: 0 20px;
    }

    a.also {
        width: 60%;
        left: 20%;
    }

    section.showcase h3 {
        margin-top: 0;
    }

    section.showcase img {
        margin-top: 0;
    }

    /* temp */
    h3.ff {
        margin: 30px 0;
        width: 100%;
        padding: 30px 5px;
    }
}