<% if (user && user.memory.data.authLevels.includes("ITAD")) { %>
    <input type="text" id="filter">
    <button onclick="load()">Load</button>
    <div class="meta"></div>
<% } else { %>
    <div class="login form">
        <label>
            Organization Email: <input type="text" id="email">
        </label>
        <label>
            Password: <input type="password" id="password">
            <input type="checkbox" id="unhide" onclick="tracker.toggleShowPassword()"> Show Password
        </label>
        <button onclick="tracker.attemptLogin()">Login</button>
    </div>
<% } %>

<button class="logout invisible" onclick="tracker.logout()">Logout</button>
<p id="alert"></p>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script>
    <% if (user && user.memory.data.authLevels.includes("ITAD")) { %>
        class ITAdminBrowser extends MetaBrowser {
            constructor(settings = {}) {
                super(settings);
            }

            makeBrowser = () => {
                if (this.settings.useBrowser) {
                    this.browser = new this.settings.useBrowser(this.serving, {
                        onSave: this.save,
                        onEdit: this.edit,
                        onCancel: this.cancel,
                        onDelete: this.delete,
                        onClose: () => {
                            if (this.disabledElement) {
                                if (this.serving.state == "new") {
                                    this.serving.data.splice(this.serving.selected, 1);
                                    this.disabledElement.close();
                                }
                                else if (this.serving.state == "delete") {
                                    this.disabledElement.close();
                                }
                                else  {
                                    this.disabledElement.enable();
                                    this.disabledElement.setValue(this.searchBox.extractLabel(this.serving.data[this.serving.selected]));
                                }
                                this.searchBox.$div.removeClass("humble");
                            }
                            this.disabledElement = null;
                            this.browser = null;
                        }
                    });
                    this.searchBox.$div.addClass("humble");
                }
            }

            save = async (item) => {
                this.serving.state = "read";
                this.serving.data[this.serving.selected] = item;
                if (!this.serving.loadedData[this.serving.selected]) {
                    this.serving.loadedData[this.serving.selected] = { memory: { _id: "new", data: {}, backups: [] } };
                }
                this.serving.loadedData[this.serving.selected].memory.backups.unshift({
                    _lastUpdate: Date.now(),
                    data: item
                });

                let res = null;
                
                if (this.serving.saveToCloud) {
                    res = await base.do("save-it", { item: { data: item, id: this.serving.loadedData[this.serving.selected]?.memory._id}, deleting: false, route: "/the-front/it-admin", which: this.services["it"].filter });
                }
            
                if (res) this.serving.loadedData[this.serving.selected].memory._id = res;
            }

            delete = async () => {
                this.serving.state = "delete";
                if (this.serving.saveToCloud) {
                    base.do("save-it", { item: { id: this.serving.loadedData[this.serving.selected]?.memory._id}, deleting: true, route: "/the-front/it-admin", which: this.services["it"].filter });
                }
                this.serving.data.splice(this.serving.selected, 1);
                this.serving.loadedData.splice(this.serving.selected, 1);
                this.serving.selected = -1;
                this.searchBox.renderSearchResults();
            }

            load = async (service = this.selectedService, select = true) => {
                let serving = this.services[service];

                if (serving.loadFromCloud) {                    
                    await base.do("load-it", { which: this.services["it"].filter, route: "/the-front/it-admin" }).then((res) => {                
                        serving.loadedData = res.data;
                        console.log(res);
                        
                        if (!Array.isArray(serving.loadedData)) serving.loadedData = [serving.loadedData];
                        serving.data = [];
                        for (let i = 0; i < serving.loadedData.length; i++) {
                            serving.data.push({
                                ...structuredClone(serving.loadedData[i].memory.data),
                                _id: serving.loadedData[i].memory._id
                            });
                        }
                        this.sortData(serving);
                        
                        if (select) this.selectService(service);
                    });
                }
            }

            addService = (service, settings) => {
                this.services[service] = {
                    name: service,
                    selected: -1,
                    state: "read",
                    lastFilter: "",
                    lastEdit: {},
                    label: "Service",
                    data: [],
                    loadedData: [],
                    fields: new NBField(),
                    editable: true,
                    multiple: false,
                    showID: false,
                    max: -1,
                    enableBackups: true,
                    loadFromCloud: true, 
                    saveToCloud: true, 
                    ...settings
                };

                this.buttons.addButton(new Button(service, () => { this.selectService(service); }, {
                    placeholder: `Switch to ${this.services[service].label ? this.services[service].label : service}`
                }));

                let keys = Object.keys(this.services);
                if (keys.length < 2) {
                    this.buttons.hideButton(service);
                    this.searchBox.setItems([], null);
                    this.load(service);
                }
                else this.load(service, false);
            }
        }
        
        const metaBrowser = new ITAdminBrowser({ header: "it admin" });

        const load = () => {
            let filter = $("#filter").val();

            metaBrowser.addService("it", {
                fields: new NBField({
                    name: "ticket",
                    label: "Ticket: ",
                    placeholder: "No Ticket"
                }, [
                    new NBField({
                        name: "title",
                        label: "Title: ",
                        placeholder: "Ticket Title",
                        type: "string"
                    }),
                    new NBField({
                        name: "id",
                        label: "id: ",
                        placeholder: 0,
                        type: "number"
                    }),
                    new NBField({
                        name: "date",
                        label: "Created On: ",
                        placeholder: Date.now(),
                        type: "date"
                    }),
                    new NBField({
                        name: "quoted",
                        label: "Hours Quoted: ",
                        placeholder: 0,
                        type: "number"
                    }),
                    new NBField({
                        name: "resolved",
                        label: "Resolved On: ",
                        placeholder: Date.now(),
                        type: "date"
                    }),
                    new NBField({
                        name: "used",
                        label: "Hours Used: ",
                        placeholder: 0,
                        type: "number"
                    }),
                    new NBField({
                        name: "description",
                        label: "Description: ",
                        placeholder: "Description",
                        type: "long-string"
                    }),
                ]),
                label: filter,
                editable: true,
                multiple: true,
                filter: filter,
                toLoad: async () => {
                    let res = await base.do("load-it", {
                        which: filter,
                        route: "/the-front/it-admin"
                    });
                    return res.data;
                },
                toSave: async (item, deleting) => {
                    return await base.do("save-it", { item, deleting, route: "/the-front/it-admin", which: filter });
                }
            });
        }
        metaBrowser.render();
    <% } %>

    class Tracker {
        constructor() {
            //general
            this.$alert = $("#alert");
            this.$logout = $(".logout");

            //login
            this.$loginForm = $(".login.form");
            this.$email = $("#email");
            this.$password = $("#password");

            <% if (user) { %>
                this.$logout.removeClass("invisible");
            <% } %>
        }

        toggleShowPassword() {
            let hidden = this.$password.attr("type");
            if (hidden === "password") this.$password.attr("type", "text");
            else this.$password.attr("type", "password");
        }

        attemptLogin = async () => {
            let response = await base.attemptLogin(this.$email.val(), this.$password.val());

            if (response.status === "success") {
                location.reload();
            }
            else {
                this.$alert.text(response.message);
            }
        }

        logout = async () => {
            let response = await base.logout();

            if (response.status === "success") {
                location.reload();
            }
            else {
                this.$alert.text(response.message);
            }
        }
    }

    let tracker = new Tracker();
</script>