<nav>
    <a href="/">
        <h1 class="title">Pebble Wireless</h1>
    </a>
    <h2>Wireless Audio and Video</h2>
</nav>

<section class="hook">
    <img src="" alt="">
    <h4>Tired of cable clutter?</h4>
    <p>
        Pebble Wireless is a wireless audio and video connection that allows you to stream your device's 
        display to your TV or monitor without any cables.
    </p>
    <p id="extra">It's like a wireless mouse and keyboard, but for your display.</p>
</section>

<section class="customization pebble">
    <img src="" alt="">
    <h4>Form</h4>
    <p>
        Pebble Wireless connectors will be designed like unique pebbles.
    </p>
    <div class="plug"></div>
</section>

<section class="connection">
    <img src="/img/wifi.webp" alt="" class="down-wifi">
    <img src="/img/wifi.webp" alt="" class="up-wifi">
</section>

<section class="more-info pebble">
    <img src="" alt="">
    <h4>Function</h4>
    <p>        
        Less than 10ms delay at 1080p.
    </p>
    <div class="plug"></div>
</section>

<section class="action">
    <div class="unanswered">
        <h2>Are you interested in Pebble Wireless?</h2>
        <button id="yes">Sign Up for the Waitlist</button>
        <button id="not-really">Give Feedback</button>
    </div>
    <div class="if-yes invisible">
        <button class="back">&lt;Back</button>
        <h3>Thank you for your interest!</h3>
        <p>Please enter your email address below to be added to the waitlist.</p>
        <input type="email" placeholder="email">
        <button class="submit">Submit</button>
    </div>
    <div class="if-not-really invisible">
        <button class="back">&lt;Back</button>
        <h3>Thank you for sharing with us.</h3>
        <p>What would make The Pebble worth buying to you?</p>
        <textarea></textarea>
        <button class="submit">Submit</button>
    </div>
    <p class="alert"></p>
</section>

<div class="top-shell"></div>

<script>
    // when the yes button is clicked, show the yes div
    // and hide the unanswered div and the not-really div
    $("#yes").click(() => {
        $(".if-yes").removeClass("invisible");
        $(".unanswered").addClass("invisible");
        $(".if-not-really").addClass("invisible");
    });

    // when the not-really button is clicked, show the not-really div
    // and hide the unanswered div and the yes div
    $("#not-really").click(() => {
        $(".if-not-really").removeClass("invisible");
        $(".unanswered").addClass("invisible");
        $(".if-yes").addClass("invisible");
    });

    // when the submit button in the if-yes div is clicked
    // hide the if-yes div and
    // get the email and do the server script in base
    // sending the email to the waitlist
    // and edit the alert's text to say that the email was submitted
    $(".if-yes button.submit").click(() => {
        let email = $(".if-yes input").val();
        $(".if-yes").addClass("invisible");
        base.do("add-to-waitlist", { route: "/the-front/scripts", email: email }).then((res) => {
            if (res.status == "success") $(".alert").text("Email submitted to waitlist. Thank you!");
            else {
                $(".alert").text("There was an error submitting your email. Please try again later.");
                $(".if-yes").removeClass("invisible");
            }
        });
    });

    // when the submit button in the if-not-really div is clicked
    // hide the if-not-really div and
    // get the textarea and do the server script in base
    // sending the textarea to the feedback
    // and edit the alert's text to say that the feedback was submitted
    $(".if-not-really button.submit").click(() => {
        let feedback = $(".if-not-really textarea").val();
        $(".if-not-really").addClass("invisible");
        base.do("add-feedback", { route: "/the-front/scripts", feedback: feedback }).then((res) => {
            console.log(res);
            if (res.status == "success") $(".alert").text("Feedback submitted. Thank you!");
            else {
                $(".alert").text("There was an error submitting your feedback. Please try again later.");
                $(".if-not-really").removeClass("invisible");
            }
        });
    });

    // when a back button is clicked, show the unanswered div
    $(".back").click(() => {
        $(".unanswered").removeClass("invisible");
        $(".if-yes").addClass("invisible");
        $(".if-not-really").addClass("invisible");
    });

    //when a pebble section is hovered over, start the animations on the wifi imgs
    let stopping = false;
    $(".pebble").hover(() => {
        stopping = false;
        setTimeout( () => {
            if (!stopping) $(".down-wifi").addClass("transmitting");
        }, 700);
        $(".up-wifi").addClass("transmitting");     
    }, () => {
        stopping = true;
        $(".down-wifi").removeClass("transmitting");
        $(".up-wifi").removeClass("transmitting"); 
    });
</script>