<button>Send Monthly Visits Report to:</button>
<input type="email" placeholder="Email Address" value="exec.director@loveincoflewiscounty.org">
<p class="info"></p>

<script>
    let $button = $("button");
    let $input = $("input");
    let $info = $(".info");

    $button.on("click", function() {
        let email = $input.val();
        base.do("visits-report", {
            route: "/the-front/reports",
            email: email
        }).then((res) => {
            $info.text(res.data);
        });
    });
</script>