<style>
    <%- include('index.css') %>
</style>

<section class="training">
    <div class="details">
        <h3>Faith and Finances (12 Week Course)</h3>
        <p>This course focuses on financial literacy for low-income or financially vulnerable adults.
            It also encourages learners to protect their assets and consider their net wealth.
        </p>
        <p>This training is open to everyone and is free of charge. We hope to see you there!</p>
        <p>When: Every Tuesday, starting March 25, 2025. The course runs for 12 weeks.</p>
        <p>Where: Love INC</p>
        <p>Time: 7:00pm - 8:30pm</p>
        <p>Topics include:</p>
        <ul>
            <li>1. Connecting Money and Relationships</li>
            <li>2. Exploring Values and Attitudes</li>
            <li>3. Overcoming Financial Challenges</li>
            <li>4. Setting Savings Goals</li>
            <li>5. Creating a Spending Plan</li>
            <li>6. Living Simply</li>
            <li>7. Giving Joyfully</li>
            <li>8. Managing Debt</li>
            <li>9. Taking Loans</li>
            <li>10. Getting Banked</li>
            <li>11. Preparing for Emergencies</li>
            <li>12. Planning for Long-Term Change</li>
        </ul>
    </div>
    <div class="registration info">
        <h3>Register for the Faith and Finances Course:</h3>
        <label>
            Name (Printed):
            <input type="text" class="name" placeholder="First and Last">
        </label>
        <label>
            Address:
            <input type="text" class="address" placeholder="123 Main St.">
        </label>
        <label>
            City:
            <input type="text" class="city" placeholder="City">
        </label>
        <label>
            State:
            <input type="text" class="state" placeholder="State">
        </label>
        <label>
            Phone Number:
            <input type="text" class="phone" placeholder="123-456-7890">
        </label>
        <label>
            Name (Signature):
            <input type="text" class="signature" placeholder="First and Last">
        </label>
        <div class="waiver">
            <h4>Participant Waiver</h4>
            <p>
                The Faith and Finance class will use scripture references from the Bible in teaching this class.
                In signing this form, you acknowledge that you agree to this information being shared regardless
                of your personal religious or non-religious preferences.
            </p>
            <p>
                Photographs of the class may be taken and used for promotional purposes. By signing this form, you
                agree to have your photograph taken for these purposes.
            </p>
            <p>
                You will be provided with a Participant's Guide for Faith and Finance which is yours to keep, 
                however, you will be required to bring this book with you for each class.
            </p>
            <label>
                Name (Printed):
                <input type="text" class="waiver-name" placeholder="First and Last">
            </label>
            <label>
                Name (Signature):
                <input type="text" class="waiver-signature" placeholder="First and Last">
            </label>
            <label>
                Date:
                <input type="text" class="waiver-date" placeholder="MM/DD/YYYY">
            </label>
        </div>
        <button class="external">Register</button>
        <p class="info"></p>
    </div>
</section>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator({});

    base.do("tally", { route: "/the-front/scripts" });
    setTimeout(() => {
        setInterval(() => {
            base.do("tally-extra", { route: "/the-front/scripts" });
        }, 30000);
    }, 3000);

    let $register = $(".training .registration button");
    $register.click(() => {
        let name = $(".training .registration .name").val();
        let $info = $(".training .registration .info");

        if (name) {
            base.do("register-ff", { name, extras, route: "/the-front/faith-and-finances" }).then((res) => {
                if (res.status == "success") $info.text(res.data);
                else $info.text("Server Error. Please try again later.");
            });
        }
        else {
            $info.text("Please enter your name.");
        }
    });
</script>