main {
    padding: 0;
}

section.supper {
    padding: 0;
    max-width: var(--max-main-width);
}

img.detail {
    width: 50%;
}

.training .details {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: var(--max-main-width);
}

.details ol {
    column-gap: calc(var(--padding) * 2 + 20px);
    column-count: 2;
    display: initial;
    padding-left: 30px;
}

.half-box {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.training img {
    width: 100%;
    max-width: var(--max-main-width);
    border-radius: 25px;
    box-shadow: 0 0 10px 5px rgb(100, 130, 188);
}

.training .info {
    width: 100%;
    max-width: var(--max-main-width);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.training .info label {
    width: 90%;
    margin: 3px;
    font-size: var(--pSize);
}

.training .info input[type="number"] {
    width: 20vw;
}

.waiver {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3.ff {
    margin-top: -30px;
}

/* styles for screens under 1000px wide */
@media only screen and (max-width: 1000px) {
    .half-box {
        width: 100%;
    }

    img.detail {
        width: 100%;
    }

    .details ol {
        column-count: 1;
    }
}