<style>
    <%- include("./keeper.css"); %>
</style>

<div class="shack">
    <div class="dialogue" id="keeper"></div>

    <div class="counter">
        <%- include("./clipboards.ejs"); %>
    </div>
</div>

<div class="ground" id="lawn"></div>

<hr>

<a class="return" href="/the-front">
    Return to the Gate
</a>

<script src="/js/dialogue.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/plants/part.js"></script>
<script src="/js/plants/lawn.js"></script>
<script>
    <%- include("./keeper.js"); %>

    const lawn = new Lawn();
</script>