<style>
    <%- include("../styles/the-front.css"); %>
    <%- include("./keeper.css"); %>
</style>

<div class="shack">
    <div class="dialogue" id="keeper"></div>

    <div class="counter">
        <%- include("./clipboards.ejs"); %>
    </div>
</div>

<hr>

<a class="to gate" href="/the-front/gate">
    Go to the Fence Gate
</a>

<hr>

<a class="return" href="/the-front">
    Back Away
</a>

<script src="/js/dialogue.js"></script>
<script src="/js/util/weather.js"></script>
<script>
    // const weather = new WeatherSystem("random");
    
    <%- include("./keeper.js"); %>
</script>