<style>
    <%- include("./index.css") %>
</style>

<a class="go bible" href="/apps/s/bible">
    Bible App
</a>

<a class="go time" href="/apps/s/time">
    Time App
</a>

<a class="go projects" href="/apps/s/projects">
    Projects App
</a>

<a class="go notes" href="/apps/s/notes">
    Notes App
</a>

<a class="go recipes" href="/apps/s/recipes">
    Recipes App
</a>

<a class="return" href="/">
    Return to the Front
</a>