:root {
    --footerTextColor : rgb(255, 255, 255);
    --bgColor: white;
    --darkBgColor: rgb(255, 255, 255);
    --bgCanvas: rgb(233, 229, 224);
    --bgCanvasGradient: linear-gradient(170deg, rgb(233, 229, 224) 0%, rgb(41, 48, 51) 100%);
    --darkBgColorGradient: linear-gradient(170deg, rgb(192, 204, 223) 0%, rgb(255, 255, 255) 100%);
    --veryDarkBgColorTransparent: rgba(15, 15, 15, 0.404);
    --veryDarkBgColor: rgb(121, 108, 103);
    --textColor: rgb(27, 27, 27);
    --textColorBright: rgb(99, 78, 64);
    --shadowColor: rgb(82, 82, 82);
}

main {
    align-content: flex-start;
    box-shadow: 5px 5px var(--shadowColor);
    width: 100%;
    max-width: 900px;
    position: initial;
    padding: var(--padding);
    z-index: 0;
    border-radius: 5px 5px 0 0;
}

footer {
    color: var(--footerTextColor);
    justify-content: flex-end;
    flex-wrap: wrap;
    position: initial;
    box-shadow: 5px 5px var(--shadowColor);
    width: 100%;
    max-width: 900px;
    padding: var(--padding);
    background: rgba(255, 255, 255, 0.259);
    z-index: 1;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
}

footer p, footer a, footer a:hover {
    color: var(--footerTextColor);
    font-size: small;
    width: auto;
    height: auto;
    background: none;
    padding: 0;
    border-radius: 0;
}

footer button, footer button:hover {
    border-radius: 2px;
    border: none;
}

footer a, footer a:hover {
    height: auto;
    border: none;
    border-bottom: 1px solid var(--footerTextColor);
}

.form {
    border: none;
}

.form #to-history {
    background: linear-gradient(170deg, rgb(255, 255, 255) 0%, rgb(250, 226, 198) 100%);
}

#desc-label {
    width: 100%;
}

#att-label {
    width: 40%;
}

#submit {
    background: linear-gradient(170deg, rgb(255, 255, 255) 0%, rgb(205, 250, 198) 100%);
}

#view {
    background: linear-gradient(170deg, rgb(255, 255, 255) 0%, rgb(199, 225, 248) 100%);
}

#request-history {
    background: linear-gradient(170deg, rgb(255, 255, 255) 0%, rgb(205, 250, 198) 100%);
}

.history #to-submit {
    background: linear-gradient(170deg, rgb(255, 255, 255) 0%, rgb(250, 226, 198) 100%);
}

.tickets {
    width: 100%;
    min-height: 200px;
    margin: 0;
    background-color: white;
    list-style: none;
    border: none;
}

.tickets li {
    border: none;
    padding: 10px;
}

.tickets li h4 {
    width: 100%;
}

.tickets li.selectable {
    cursor: pointer;
}

.tickets li.selectable:hover {
    border: var(--textColorBright);
}

.tickets li.selected {
    border: var(--textColorBright);
}

#close {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
}

.folded {
    height: 50px !important;
    overflow: hidden;
    transition: height .3s ease;
}

.search-box {
    background: none;
}

.selector {
    background: none;
}

.selector li {
    background: none !important;
}