.learn-more {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fifth-color);
    color: white;
    border-radius: var(--border-radius);
    text-decoration: none;
}

.learn-more:hover {
    background: var(--fifth-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: var(--max-main-width);
    background: var(--second-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.event img {
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 5px rgb(100, 130, 188);
}

.panda img {
    width: 400px;
    max-width: 45%;
    border-radius: 0;
    box-shadow: none;
}

.panda p {
    padding: 20px;
    max-width: 600px;
}

.panda .row {
    padding: 20px;
}

.panda h3 {
    background: rgb(209, 44, 47);
    text-shadow: black 1px 1px 1px;
}

.flyer img {
    width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
}

.flyer a {
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: var(--thickPadding);
    background: var(--fifth-color);
    color: white;
    border-radius: var(--border-radius);
    text-decoration: none;
}

.flyer a:hover {
    background: var(--fifth-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}