main {
    background: rgb(17,37,88);
}

section.supper {
    width: 100%;
    background: rgb(17,37,88);
}

.supper img {
    width: 100%;
    max-width: var(--max-main-width);
    height: auto;
}

.details {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.half-box {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.info {
    width: 100%;
    max-width: var(--max-main-width);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(235,236,239);
    margin-top: 35px;
}

section.also {
    background: rgb(255, 255, 255);
    gap: 30px;
}

.also img {
    width: 100%;
    max-width: var(--max-main-width);
    height: auto;
}

/* styles for screens under 1000px wide */
@media only screen and (max-width: 1000px) {
    .half-box {
        width: 100%;
    }

    img.detail {
        width: 100%;
    }
}