.table {
    margin: 40px 0;
    background-color: var(--tableColor);
    /* background-image: url("/img/textures/wood.jpg"); */
    background-size: 80px 80px;
    image-rendering: pixelated;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: outset 5px var(--tableColor);
    box-shadow: 2px 2px 2px var(--shadow);
    position: relative;
}

.table * {
    color: var(--dominoColor);
}

.table .buttons {
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
}

.hand {
    position: absolute;
    background-color: var(--dominoShadow);
    width: 25%;
    height: 25%;
    right: 0;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: outset 2px rgba(0, 0, 0, 0.651);
}

.hand#player-1 {
    right: 0;
    top: 60%;
}

.score {
    position: absolute;
    background-color: var(--dominoShadow);
    width: 25%;
    height: 25%;
    right: 0;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: outset 2px rgba(0, 0, 0, 0.651);
}

.bone {
    width: 50px;
    height: 25px;
    background-color: var(--dominoColor);
    border: 1px solid var(--dominoShadow);
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
    user-select: none;
}

.your-hand .bone:hover {
    cursor: pointer;
    border: 2px solid var(--dominoSelection);
}

.bone.highlighted {
    background-color: var(--dominoHighlightedColor);
}

.bone.held {
    background-color: var(--dominoHeldColor);
}

.bone.in-yard {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 12.5px);
}

.bone.on-board {
    position: absolute;
}

.option {
    border: 1px solid var(--dominoOption);
}

.selected {
    border: 1px solid var(--dominoSelection);
}

.board {
    position: absolute;
    background-color: var(--dominoShadow);
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    border: outset 2px rgba(54, 54, 54, 0.651);
}

.board .bone:hover {
    cursor: pointer;
}

.board.big-bone-time {
    border: outset 2px var(--dominoHighlightedColor);
}

.board .yard {
    position: absolute;
    background-color: var(--dominoShadow);
    width: 15%;
    height: 5%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: outset 2px rgba(255, 255, 255, 0.651);
}

.turn-to-play {
    background-color: rgba(238, 170, 69, 0.548);
}

@media screen and (min-width: 570px) {
    .full-view .table {
        width: auto;
        height: 100%;
        aspect-ratio: 1 / 1;
        max-width: initial;
    }
}