<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">

<!-- Your HTML Here -->
<main>
    <p>
        A washed up canoe has broken down on the beach. Claw marks are on the wooden edges.
        Bits and pieces of glass and unrenderable items lay on the edge of the shore.
        Nothing else is notable.
    </p>
    <hr>
    <a href="/forest/pond/side">
        Go Back
    </a>
</main>

<%- include("../../../../../../global/parts/footer.ejs"); %>