<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">

<!-- Your HTML Here -->
<main>
    <p>
        Standing over the pond doesn't help you see through its murky waters.
        You feel like something's swimming in the pond.
    </p>
    <hr>
    <a href="/forest/pond/side/dock">
        Go Fishing
    </a>
    <a href="/forest/pond/side">
        Get off the Dock
    </a>
</main>

<%- include("../../../../../../global/parts/footer.ejs"); %>