<%- include("../../../../../../global/parts/head.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/main.css">

<!-- Your HTML Here -->
<main>
    <p>
        The pond only dips down a few meters, but stretches for miles.
        The surrounding trees have grown together to make an impassable thicket.
        There's a dock and some broken debris near the shore.
    </p>
    <hr>
    <a href="/forest/pond/side/dock">
        Check out Dock
    </a>
    <a href="/forest/pond/side/swim">
        Go for a Swim
    </a>
    <a href="/forest/pond/side/debris">
        Check out Debris
    </a>
    <a href="/forest/pond/tower">
        Return to the Tower
    </a>
</main>

<%- include("../../../../../../global/parts/footer.ejs"); %>