.weather {
    width: 50%;
    padding: var(--thickPadding);
}

main>.date {
    width: 50%;
    padding: var(--thickPadding);
}

.browser .shared h6 {
    width: 50% !important;
}

.browser .shared p {
    width: 50% !important;
}

.browser .sharing .nested.name {
    margin: 0 !important;
}

.browser .nested.shared {
    margin: 0 !important;
}

.browser .nested.frequency {
    width: 50% !important;
}

.browser .nested.recurring {
    width: 50% !important;
}

.meta .buttons {
    display: flex;
    justify-content: space-between;
}

.search-box {
    overflow: auto;
}

.selector {
    height: auto !important;
}