<style>
    <%- include("./index.css"); %>
</style>

<div class="hud">
    <div class="left logo">N</div>
    
    <div class="right sign">
        <div class="default">
            <h1>NotherBase</h1>
            <h2>Est '21</h2>
            <h3>By Nother</h3>
            <button onclick="$('.sign .default').addClass('invisible'); $('.sign .about').removeClass('invisible');">About</button>
        </div>
        <div class="about invisible">
            <h4>About NotherBase</h4>
            <p>
                Welcome to NotherBase! This base is a website dedicated to
                Jesus Christ and the Holy Bible. Keep your life organized,
                read the Bible and chat with other users; all while being
                transformed by the renewing of your mind through His Word.
            </p>
            <p>
                Visit the shack nearby to submit an application for
                an account. 
            </p>
            <button onclick="$('.sign .about').addClass('invisible'); $('.sign .default').removeClass('invisible');">Back</button>
        </div>
    </div>
</div>

<hr>

<div class="bible-viewer" id="a"></div>

<div class="bible-viewer" id="another"></div>

<div class="bible-viewer" id="last"></div>

<hr>

<h2>Go to a Nearby Place:</h2>

<a class="to shack" href="/the-front/keeper">
    Approach the Shack
</a>

<!-- <a class="to gate" href="/the-front/around">
    Try to go Around
</a> -->

<a class="to nother-base" href="/apps/s/home">
    Enter NotherBase
</a>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/bible-viewer.js"></script>
<script>
    let color = 0;
    let brightness = 15;

    $(".logo").on("click", function () {
        // color += 2;
        // if (color > 255) color = 0;

        // brightness += 2;
        // if (brightness > 255) brightness = 255;

        // $("footer").css("background-color", `rgb(
        //         ${brightness * (color) / 255}, 
        //         ${brightness * (color % 2) / 255}, 
        //         ${brightness * (255 - color) / 255}
        //     )`
        // );
    });

    const gospelExcerpts = [
        {
            book: "Matthew",
            chapter: 24,
            verse: 14
        },
        {
            book: "Mark",
            chapter: 16,
            verse: 15
        },
        {
            book: "Psalm",
            chapter: 96,
            verse: 3
        },
        {
            book: "Psalm",
            chapter: 132,
            verse: 13,
            verseEnd: 14
        },
        {
            book: "1 Corinthians",
            chapter: 2,
            verse: 6,
            verseEnd: 8
        },
        {
            book: "Colossians",
            chapter: 2,
            verse: 13,
            verseEnd: 14
        }
    ];

    const loveExcerpts = [
        {
            book: "John",
            chapter: 3,
            verse: 16
        },
        {
            book: "John",
            chapter: 15,
            verse: 12
        },
        {
            book: "Galatians",
            chapter: 5,
            verse: 13
        },
        {
            book: "Matthew",
            chapter: 6,
            verse: 25
        }
    ];

    const doctrineExcerpts = [
        {
            book: "Hebrews",
            chapter: 13,
            verse: 16
        },
        {
            book: "Matthew",
            chapter: 5,
            verse: 16
        },
        {
            book: "Ephesians",
            chapter: 2,
            verse: 10
        },
        {
            book: "Hebrews",
            chapter: 10,
            verse: 24,
            verseEnd: 25
        }
    ];

    let gospelIndex = Math.floor(Math.random() * gospelExcerpts.length);
    const aBibleViewer = new BibleViewer({
        header: "",
        showUI: false,
        initialBook: gospelExcerpts[gospelIndex].book,
        initialChapter: gospelExcerpts[gospelIndex].chapter,
        initialVerse: gospelExcerpts[gospelIndex].verse,
        initialVerseEnd: gospelExcerpts[gospelIndex].verseEnd,
        id: "a"
    });
    aBibleViewer.render();

    let loveIndex = Math.floor(Math.random() * loveExcerpts.length);
    const anotherBibleViewer = new BibleViewer({
        header: "",
        showUI: false,
        initialBook: loveExcerpts[loveIndex].book,
        initialChapter: loveExcerpts[loveIndex].chapter,
        initialVerse: loveExcerpts[loveIndex].verse,
        initialVerseEnd: loveExcerpts[loveIndex].verseEnd,
        id: "another"
    });
    anotherBibleViewer.render();

    let doctrineIndex = Math.floor(Math.random() * doctrineExcerpts.length);
    const lastBibleViewer = new BibleViewer({
        header: "",
        showUI: false,
        initialBook: doctrineExcerpts[doctrineIndex].book,
        initialChapter: doctrineExcerpts[doctrineIndex].chapter,
        initialVerse: doctrineExcerpts[doctrineIndex].verse,
        initialVerseEnd: doctrineExcerpts[doctrineIndex].verseEnd,
        id: "last"
    });
    lastBibleViewer.render();
</script>