:root {
    --notherColor: rgb(65, 65, 65);
    --gateColor: rgb(128, 128, 128);
    --gateColorBright: rgb(187, 187, 187);
}

body {
    height: auto;
    padding-bottom: 25px;
}

main {
    height: auto;
    margin-bottom: 25px;
}

.logo {
    border-radius: 50%;
    box-shadow: 15px 15px 5px var(--shadowColor);
    width: 200px;
    height: 200px;
    border-bottom: 100px solid var(--gateColor);
    border-top: 100px solid var(--notherColor);
    background: var(--gateColor);
    margin: 30px;
    color: white;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none;
    cursor: pointer;
    transition: all .2s ease;
    /* padding: 75px; */
    aspect-ratio: 1 / 1;
}

.logo:hover {
    transform: scale(1.01);
    transition: all .1s ease;
}

.logo:active {
    transform: scale(.95);
    transition: all .2s ease;
}

.sign {
    min-width: 45%;
}

.sign .default, .sign .about {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.line {
    width: var(--fillFromMargin);
    background-color: var(--bgColor);
    border: var(--thickBorder);
    padding: 0;
    margin: var(--margin);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.line ul {
    height: 300px;
    overflow: auto;
    border: var(--standardBorder);
    width: 100%;
    margin: 0;
}

.line li {
    margin: var(--margin);
    padding: var(--padding);
    list-style: none;
    position: relative;
    height: 50px;
    background-color: var(--bgColor);
}

.line img {
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.line p {
    text-align: right;
}

#pac2 {
    transform: rotate(90deg);
}

#pac3 {
    transform: rotate(180deg);
}

#pac4 {
    transform: rotate(270deg);
}

#pac, #pac2, #pac3, #pac4 {
    transition: all 1s ease, scale .1s ease;
}

#pac:hover, #pac2:hover, #pac3:hover, #pac4:hover {
    scale: 1.05;
    cursor: pointer;
}

.toys {
    overflow: hidden;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: url("/img/textures/abstract street art.png");
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    clip-path: polygon(5% 30%, 25% 25%, 30% 5%, 70% 5%, 75% 25%, 95% 30%, 95% 70%, 75% 75%, 70% 95%, 30% 95%, 25% 75%, 5% 70%);
}

.toy {
    overflow: hidden;
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

.toy img {
    width: 200%;
    height: 200%;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 35% 0, 35% 15%, 50% 15%, 50% 35%, 35% 35%, 35% 50%, 15% 50%, 15% 35%, 0 35%);
    user-select: none;
}

#lawn {
    margin-top: 100px;
    margin-bottom: -20px;
}

.grass.leaf {
    border-radius: 0;
}

h2, h3 {
    text-align: center;
}

.hud>.right {
    width: 60%;
}

.bible-viewer {
    height: auto;
    width: 100%;
    padding: var(--thickPadding);
}