section .card-grid {
    max-width: var(--max-main-width);
    justify-content: center;
    overflow-x: hidden;
}

.card.kacs {
    padding: 0;
    max-width: 100%;
}

a.kacs {
    width: 100%;
    height: auto;
    display: flex;
    
}

img.kacs {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

a.kacs p {
    position: absolute;
    left: 90px;
    top: 15px;
    color: white;
    font-size: 14px;
}

.card-grid .card.header {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 10%;
    width: 80%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}

.card.header:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s;
    cursor: pointer;
}

.card-grid .card.header h3 {
    text-align: left;
    padding: 20px;
}

.card.header p {
    font-size: 1.5em;
    font-weight: 700;
    color: #333;
    text-align: right;
    width: 25%;
}

section.call-out {
    background: var(--main-color);
    flex-direction: row;
    padding: 0;
    color: white;
}

.call-out h3 {
    font-size: 45px;
    width: 100%;
    margin-top: 0;
    padding: var(--thickPadding);
    box-shadow: var(--shadow);
    background: var(--fourth-color);
}

.call-out .detail {
    width: 100%;
    padding: var(--thickPadding);
}

.call-out .detail p {
    font-size: 20px;
}

.call-out img {
    height: 100%;
    width: auto;
    max-width: 35%;
    object-fit: cover;
}

.call-out a {
    width: 250px;
    height: 75px;
    margin: 40px;
}

@media only screen and (max-width: 1000px) {
    .card-grid .card.header {
        width: 90%;
        margin: 20px 5%;
        flex-direction: column;
    }

    .card-grid .card.header h3 {
        text-align: center;
    }

    .card.header p {
        text-align: center;
        width: 100%;
    }

    .call-out img {
        width: 100%;
        height: auto;
        max-width: initial;
    }
}