<h4>
    One of our "Love Stories"...
</h4>

<div class="top">
    <p>
        After three years behind bars, John walked out with a duffel bag, a worn Bible and a fragile sense of hope. 
        With no home to return to, he made his car his shelter—sleeping in the backseat and relying on its engine for warmth.
    </p>

    <p>
        Determined to rebuild his life, John enrolled in community college, taking each day one step at a time. But as winter set in, the cold deepened. 
        Gas was scarce, his car tabs were expired, and the risk of a ticket threatened everything he was working toward.
    </p>

    <p class="final">
        Exhausted and discouraged, he reached out to Love INC. What he found wasn't just a help—it was kindness.
    </p>

    <p class="quote">
        "I cannot express my gratitude to all of you. Please tell everyone that you made a big difference in my life and I 
        will continue to improve myself so that others may be as inspired by my actions as I have by yours. Thank you all." <span>John</span>
    </p>
</div>

<div class="row">
    <img src="/img/love story/not actual image of John.webp" alt="Not Actual Image of John">

    <div>
        <p>
            He was welcomed, listened to, and prayed for. Through your support, we were able to provide new tabs for his car, giving him not only warmth and transportation,
            but peace of mind.
        </p>
    
        <p>
            That simple act sparked something deeper in John—a renewed sense of hope. For the first time in months, he felt seen, valued and not alone. 
        </p>
    
        <p>
            Sitting in his car that night, heat running and new tabs in place, John experienced something steady and real: love that reminded him his story isn't over.
        </p>
    </div>
</div>