.inventory {
    width: 100%;
}

.info {
    width: 100%;
}

select {
    width: 100%;
}

.hud img.design {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.cart .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: var(--standardBorder);
}

.cart .item img {
    max-width: 100px;
    height: auto;
}