<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garden of Eden - NotherBase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <style>
        <%- include("./index.css") %>
    </style>

    <main>
        <div class="eden-game">
            <h1>Garden of Eden Game</h1>

            <h2>It Was Good</h2>
        </div>
    </main>

    <footer></footer>

    <script src="/js/entity.js"></script>
    <script src="/js/util/element.js"></script>
    <script>
        class Garden extends Element {
            constructor() {
                super("div", {
                    defaultClasses: "garden",
                    header: "Garden"
                });
            }
        }

        class Store extends Element {
            constructor() {
                super("div", {
                    defaultClasses: "store",
                    header: "Store"
                });
            }
        }

        class Inventory extends Element {
            constructor() {
                super("div", {
                    defaultClasses: "inventory",
                    header: "Inventory"
                });
            }
        }

        class EdenGame extends Container {
            constructor() {
                super({
                    defaultClasses: "eden-game",
                    header: "Garden of Eden Game"
                });
                this.seeds = 0;
                this.garden = this.addChild(new Garden());
                this.store = this.addChild(new Store());
                this.inventory = this.addChild(new Inventory());
            }
        }

        let edenGame = new EdenGame();
        edenGame.render(".eden-game");
    </script>
</body>
</html>