<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sushinsky's Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <style>
        .ground {
            height: 200px;
            margin-top: 200px;
        }
    </style>
    <main>
        <div class="ground"></div>
    </main>
    <footer></footer>

    <script src="/js/entity.js"></script>
    <script src="/js/util/element.js"></script>
    <script src="/js/plants/part.js"></script>
    <script src="/js/plants/flower-bed.js"></script>
    <script>
        const greenSeed = {
            stem: {
                imgs: [ "/img/textures/substance.png" ],
                spawns: [
                    {
                        position: { minX: 10, minY: 10, maxX: 85, maxY: 85 },
                        rotation: { minAngle: -2, maxAngle: 2 }
                    }
                ],
                growth: { minTime: 1000, spawnTime: 110, maxTime: 2000 },
                size: { minX: 3, minY: 75, maxX: 5, maxY: 100 },
                children: {
                    seeds: {
                        cooldown: 100, 
                        potentialDelay: 100
                    }
                },
                max: 1,
                spawnRate: { cooldown: 100, potentialDelay: 100 },
                recursionMax: 1
            },
            seeds: {
                imgs: [ "/img/textures/used desk.png" ],
                spawns: [{
                    position: { minX: -25, minY: 95, maxX: -25, maxY: 99 },
                    rotation: { minAngle: 0, maxAngle: 360 }
                }],
                growth: { minTime: 1000, spawnTime: 110, maxTime: 2000 },
                size: { minX: 10, minY: 10, maxX: 10, maxY: 10 },
                children: {
                    topLeaf: {
                        cooldown: 100, 
                        potentialDelay: 100
                    },
                    rightLeaf: {
                        cooldown: 100, 
                        potentialDelay: 100
                    },
                    bottomLeaf: {
                        cooldown: 100, 
                        potentialDelay: 100
                    },
                    leftLeaf: {
                        cooldown: 100, 
                        potentialDelay: 100
                    }
                },
                max: 1,
                spawnRate: { cooldown: 100, potentialDelay: 100 },
                recursionMax: 1
            },
            topLeaf: {
                imgs: [ "/img/textures/substance.png" ],
                spawns: [{
                    position: { minX: 0, minY: 90, maxX: 75, maxY: 99 },
                    rotation: { minAngle: -45, maxAngle: 45 }
                }],
                growth: { minTime: 5000, spawnTime: 110, maxTime: 20000 },
                size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
                children: {},
                max: 10,
                spawnRate: { cooldown: 10, potentialDelay: 10 },
                recursionMax: 2
            },
            rightLeaf: {
                imgs: [ "/img/textures/substance.png" ],
                spawns: [{
                    position: { minX: 90, minY: 0, maxX: 99, maxY: 75 },
                    rotation: { minAngle: 45, maxAngle: 135 }
                }],
                growth: { minTime: 5000, spawnTime: 110, maxTime: 20000 },
                size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
                children: {},
                max: 10,
                spawnRate: { cooldown: 10, potentialDelay: 10 },
                recursionMax: 2
            },
            bottomLeaf: {
                imgs: [ "/img/textures/substance.png" ],
                spawns: [{
                    position: { minX: 0, minY: 0, maxX: 75, maxY: 5 },
                    rotation: { minAngle: 135, maxAngle: 225 }
                }],
                growth: { minTime: 5000, spawnTime: 110, maxTime: 20000 },
                size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
                children: {},
                max: 10,
                spawnRate: { cooldown: 10, potentialDelay: 10 },
                recursionMax: 2
            },
            leftLeaf: {
                imgs: [ "/img/textures/substance.png" ],
                spawns: [{
                    position: { minX: 0, minY: 0, maxX: 5, maxY: 75 },
                    rotation: { minAngle: 225, maxAngle: 315 }
                }],
                growth: { minTime: 5000, spawnTime: 110, maxTime: 20000 },
                size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
                children: {},
                max: 10,
                spawnRate: { cooldown: 10, potentialDelay: 10 },
                recursionMax: 2
            }
        };
        
        const yellowSeed = {
            stem: {
                imgs: [ "/img/textures/substance.png" ],
                spawns: [
                    {
                        position: { minX: 10, minY: 10, maxX: 85, maxY: 85 },
                        rotation: { minAngle: -2, maxAngle: 2 }
                    }
                ],
                growth: { minTime: 1000, spawnTime: 110, maxTime: 2000 },
                size: { minX: 3, minY: 75, maxX: 5, maxY: 100 },
                children: {
                    seeds: {
                        cooldown: 100, 
                        potentialDelay: 100
                    }
                },
                max: 1,
                spawnRate: { cooldown: 100, potentialDelay: 100 },
                recursionMax: 1
            },
            seeds: {
                imgs: [ "/img/textures/used desk.png" ],
                spawns: [{
                    position: { minX: -25, minY: 95, maxX: -25, maxY: 99 },
                    rotation: { minAngle: 0, maxAngle: 360 }
                }],
                growth: { minTime: 1000, spawnTime: 110, maxTime: 2000 },
                size: { minX: 10, minY: 10, maxX: 10, maxY: 10 },
                children: {
                    topLeaf: {
                        cooldown: 100, 
                        potentialDelay: 100
                    },
                    rightLeaf: {
                        cooldown: 100, 
                        potentialDelay: 100
                    },
                    bottomLeaf: {
                        cooldown: 100, 
                        potentialDelay: 100
                    },
                    leftLeaf: {
                        cooldown: 100, 
                        potentialDelay: 100
                    }
                },
                max: 1,
                spawnRate: { cooldown: 100, potentialDelay: 100 },
                recursionMax: 1
            },
            topLeaf: {
                imgs: [ "/img/textures/grass.png" ],
                spawns: [{
                    position: { minX: 0, minY: 90, maxX: 75, maxY: 99 },
                    rotation: { minAngle: -45, maxAngle: 45 }
                }],
                growth: { minTime: 5000, spawnTime: 110, maxTime: 20000 },
                size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
                children: {},
                max: 10,
                spawnRate: { cooldown: 10, potentialDelay: 10 },
                recursionMax: 2
            },
            rightLeaf: {
                imgs: [ "/img/textures/grass.png" ],
                spawns: [{
                    position: { minX: 90, minY: 0, maxX: 99, maxY: 75 },
                    rotation: { minAngle: 45, maxAngle: 135 }
                }],
                growth: { minTime: 5000, spawnTime: 110, maxTime: 20000 },
                size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
                children: {},
                max: 10,
                spawnRate: { cooldown: 10, potentialDelay: 10 },
                recursionMax: 2
            },
            bottomLeaf: {
                imgs: [ "/img/textures/grass.png" ],
                spawns: [{
                    position: { minX: 0, minY: 0, maxX: 75, maxY: 5 },
                    rotation: { minAngle: 135, maxAngle: 225 }
                }],
                growth: { minTime: 5000, spawnTime: 110, maxTime: 20000 },
                size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
                children: {},
                max: 10,
                spawnRate: { cooldown: 10, potentialDelay: 10 },
                recursionMax: 2
            },
            leftLeaf: {
                imgs: [ "/img/textures/grass.png" ],
                spawns: [{
                    position: { minX: 0, minY: 0, maxX: 5, maxY: 75 },
                    rotation: { minAngle: 225, maxAngle: 315 }
                }],
                growth: { minTime: 5000, spawnTime: 110, maxTime: 20000 },
                size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
                children: {},
                max: 10,
                spawnRate: { cooldown: 10, potentialDelay: 10 },
                recursionMax: 2
            }
        };
        
        const flowerBed = new FlowerBed([greenSeed, yellowSeed], 30);
    </script>
</body>
</html>