<style>
    <%- include("./index.css") %>
</style>

<div class="nav">
    <a class="home" href="/apps/s/home">
        &lt; Home
    </a>
    <p>
        &lt; Notes
    </p>
</div>

<div class="meta"></div>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script>
    const metaBrowser = new MetaBrowser({
        header: ""
    });
    metaBrowser.addService("notes", {
        fields: new NBField({
            name: "note",
            label: "Note: ",
            placeholder: "No Note"
        }, [
            new NBField({
                name: "title",
                label: "Title: ",
                placeholder: "No Title",
                type: "string"
            }),
            new NBField({
                name: "content",
                label: "Content: ",
                placeholder: "No Content",
                type: "long-string"
            })
        ]),
        label: "Notes",
        editable: true,
        multiple: true
    });
    metaBrowser.render();
</script>