.meta {
    overflow: auto;
    height: 100% !important;
    overflow: auto;
    padding-top: 25vh;
}

.meta .search-box {
    height: auto !important;
}

.browser .shared h4 {
    width: 50% !important;
}

.browser .edit .shared ul {
    width: 50% !important;
}

.browser .sharing .nested.name {
    margin: 0 !important;
}

.browser .nested.shared {
    margin: 0 !important;
}

.browser .nested.frequency {
    flex-wrap: nowrap !important;
    width: 30% !important;
    min-width: 150px;
}

.browser .nested.frequency select {
    width: 100%;
    height: 40px;
}

.nested.timeHours {
    width: 10% !important;
    flex-wrap: nowrap !important;
    min-width: 100px;
}

.nested.timeHours p {
    text-align: right;
}

.nested.timeMinutes {
    width: 10% !important;
    flex-wrap: nowrap !important;
    min-width: 50px;
}

.nested.timeMinutes h4 {
    width: 5px !important;
    padding: 0 !important;
}

.meta .buttons {
    display: flex;
    justify-content: space-between;
}

.search-box {
    overflow: auto;
}

.search-box>.buttons {
    margin-bottom: 0;
}

.selector {
    height: auto !important;
}

.nested.date {
    width: 30% !important;
    flex-wrap: nowrap !important;
    min-width: 150px;
}

.nested h4 {
    border: none;
    font-size: var(--pSize);
    background: none;
}

.read.sharing li {
    justify-content: space-between;
}

.nested.sharing .nested.name {
    width: 80% !important;
}

.nested.sharing .nested.shared {
    width: 20% !important;
}

.search-box .selector>h4 {
    border: none;
    order: 999999999;
}

@media screen and (min-width: 570px) {
    main.full-view .meta {
        height: calc(100% - 210px) !important;
    }
}