<style>
    <%- include("./index.css"); %>
    <%- include("./agenda.css"); %>
</style>
<link rel="stylesheet" href="/styles/browser.css">
<link rel="stylesheet" href="/styles/billboard.css">

<div class="hud">
    <div class="nav">
        <a class="home" href="/apps/s/home">
            &lt; Home
        </a>
        <p>
            &lt; Time
        </p>
    </div>
    <div class="left date">
        <p class="day"></p>
        <p class="time"></p>
        <p class="full-date"></p>
    </div>
    <div class="right bible-viewer"></div>
</div>

<div class="meta"></div>

<!-- <a class="go" href="/forest/eye/filter/tree-house">
    Climb up the nearby Tree House
</a> -->

<!-- <hr class="forced"> -->

<!-- <a class="to" href="/forest/eye/filter/cave">
    Go to Cave
</a>

<a class="to" href="/forest/eye/filter/tower">
    Go to the Tower
</a>

<a class="to" href="/forest/eye/town-hall">
    Go to the Town Hall
</a>

<hr class="forced">

<a class="return" href="/forest/eye/library">
    Return to the Library
</a>

<a class="return" href="/forest/eye/church">
    Return to the Church
</a>

<hr class="forced"> -->



<script src="/js/util/date-ext.js"></script>
<script src="/js/util/weather.js"></script>
<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/bible-viewer.js"></script>
<script src="/js/entity.js"></script>
<script>
    // const weather = new WeatherSystem();

    // const $mailbox = $(".mailbox");
    // let mailboxCD = 1000;
    // let lastMailboxUpdate = 0;

    // base.loadAll("house-mailbox").then((res) => {
    //     if (typeof res[0]?.memory?.data == "string") $mailbox.val(res[0].memory.data);
    // });

    // $mailbox.on("input", (e) => { 
    //     lastMailboxUpdate = Date.now();

    //     setTimeout(() => {
    //         let now = Date.now();
    //         if (now - lastMailboxUpdate > mailboxCD) {
    //             console.log("set-mailbox", e.currentTarget.value);
    //             base.do("set-mailbox", { item: e.currentTarget.value });
    //         }
    //     }, mailboxCD);
    // });

    //date
    //const weekday = ["Sun", "Mon"," Tue", "Wed", "Thu", "Fri", "Sat"];
    const weekday = ["Sunday", "Monday"," Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    const date = new Date();
    let dayName = weekday[date.getDay()];
    $(`.date .day`).text(dayName);
    $(`.date .full-date`).text(date.toLocaleDateString());

    // update time every second, but don't display seconds
    function updateTime() {
        const date = new Date();
        $(`.date .time`).text(date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }));
    }
    updateTime();
    setInterval(updateTime, 1000);

    const bibleViewer = new BibleViewer({
        header: "",
        showUI: false,
        initialBook: "James",
        initialChapter: 3,
        initialVerse: 2
    });
    bibleViewer.render();

    <%- include("./agenda.js"); %>
</script>