<style>
    <%- include("./index.css"); %>
    <%- include("./agenda.css"); %>
</style>
<link rel="stylesheet" href="/styles/browser.css">
<link rel="stylesheet" href="/styles/billboard.css">

<div class="hud">
    <div class="nav">
        <a class="home" href="/apps/s/home">
            &lt; Home
        </a>
        <p>
            &lt; Time
        </p>
    </div>
    <div class="left date">
        <p class="day"></p>
        <p class="time"></p>
        <p class="full-date"></p>
    </div>
    <div class="right bible-viewer"></div>
</div>

<div class="meta"></div>

<script src="/js/util/date-ext.js"></script>
<script src="/js/util/weather.js"></script>
<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/bible-viewer.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/login-form.js"></script>
<script>
    //date
    //const weekday = ["Sun", "Mon"," Tue", "Wed", "Thu", "Fri", "Sat"];
    const weekday = ["Sunday", "Monday"," Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    const date = new Date();
    let dayName = weekday[date.getDay()];
    $(`.date .day`).text(dayName);
    $(`.date .full-date`).text(date.toLocaleDateString());

    // update time every second, but don't display seconds
    function updateTime() {
        const date = new Date();
        $(`.date .time`).text(date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }));
    }
    updateTime();
    setInterval(updateTime, 1000);

    const bibleViewer = new BibleViewer({
        header: "",
        showUI: false,
        initialBook: "James",
        initialChapter: 3,
        initialVerse: 2
    });
    bibleViewer.render();

    <% if (user?.data?.username) { %>
        <%-  include("./agenda.js"); %>
    <% } else { %>
        const loginForm = new LoginForm();
        loginForm.render(".meta");
    <% } %>
</script>