:root {
    --shadow: rgba(71, 71, 71, 0.527);
    --laylaTextColor: rgb(255, 255, 255);
    --pinkPastel: rgb(219, 148, 198);
    --yellowPastel: rgb(214, 219, 148);
    --bluePastel: rgb(148, 191, 219);
    --greenPastel: rgb(130, 226, 189);
    --woodColor: rgb(95, 68, 43);
    --houseColor: rgb(70, 62, 48);
    --darkWoodColor: rgb(70, 50, 32);
    --metalColor: rgb(104, 101, 100);
    --darkMetalColor: rgb(75, 71, 70);
    --brickColor: rgb(139, 67, 38);
    --gravelColor: rgb(160, 158, 154);
    --grassColor: rgb(50, 93, 61);
    --skyColor: rgb(65, 98, 141);
    --laylaPink: rgb(236, 169, 236);
    --white: rgb(236, 236, 236);
    --light: rgb(255, 255, 221);
    --toySize: 100px;
}

main {
    align-items: flex-start;
}

main .hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25svh;
    background: linear-gradient(to bottom, var(--bgColor) 0%, var(--bgColor) 90%, rgba(255, 255, 255, 0) 100%);
    z-index: 11;
    min-height: 150px;
}

main .hud .bible-viewer {
    width: auto;
    max-width: 70%;
    padding: var(--padding);
    height: auto;
    margin: 0;
}

main .hud .date {
    width: auto;
    padding: var(--padding) var(--thickPadding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .hud .time {
    font-size: var(--h2Size);
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.hud .date .day {
    font-size: var(--h2Size);
    padding: 0;
    width: auto;
    font-weight: bold;
}

.hud .date .full-date {
    padding: 0;
    width: auto;
}

.porch {
    width: 100%;
    margin: 0;
}

/* for larger screens */
@media screen and (min-width: 570px) {
    main.full-view  .hud {
        width: 700px;
    }

    main.full-view .porch {
        width: 700px;
    }
}

/* for smaller screens */
@media screen and (max-width: 570px) {
    .bible-viewer {
        max-width: 100% !important;
    }

    .hud .date {
        width: 75% !important;
        padding-left: 25% !important;
    }
}