section#news {
    padding: 0;
}

section#news .controls {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section#news .controls button {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.articles {
    background-color: var(--focusColor);
    height: calc(100% - 40px);
}

article {
    border-bottom: 1px solid black;
    height: 500px;
    width: 100%;
    display: flex;
}

article .pics {
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 10px;
}

article .text {
    width: 60%;
    height: 100%;
    margin: 0;
}

article img {
    width: 300px;
    height: 300px;
    float: left;
}