<style>
    <%- include("./recipes.css"); %>
</style>

<div class="floatables">
    <div class="meta"></div>
</div>

<hr>

<a class="return" href="/forest/eye/library/lobby">
    Return to the Lobby
</a>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/entity.js"></script>
<script src="/js/floatable.js"></script>
<script>
    const metaBrowser = new MetaBrowser({
        header: "Your Recipes"
    });
    metaBrowser.addService("recipes", {
        fields: new NBField({
            name: "recipe",
            label: "Recipe: ",
            placeholder: "No Recipe"
        }, [
            new NBField({
                name: "name",
                placeholder: "Recipe Name",
                type: "string"
            }),
            new NBField({
                name: "img",
                label: "Image URL: ",
                placeholder: "/img/food/default.jpg",
                type: "image"
            }),
            new NBField({
                name: "source",
                label: "From: ",
                placeholder: "Recipe Source",
                type: "string"
            }),
            new NBField({
                name: "ingredients",
                label: "Ingredients: ",
                placeholder: "No Ingredients",
                multiple: true
            }, [
                new NBField({
                    name: "amount",
                    placeholder: "",
                    type: "number"
                }),
                new NBField({
                    name: "measure",
                    placeholder: "measure",
                    type: "string"
                }),
                new NBField({
                    name: "ingredient",
                    placeholder: "ingredient",
                    type: "string"
                })
            ]),
            new NBField({
                name: "directions",
                label: "Directions: ",
                placeholder: "No Directions",
                multiple: true,
                type: "long-string"
            }) 
        ]),
        label: "Your Recipes",
        editable: true,
        multiple: true,
        toLoad: async () => {
            return await base.loadAll("recipes");
        },
        toSave: async (item, deleting) => {
            await base.do("save-recipe", { item, deleting });
        }
    });
    metaBrowser.render();

    const floatBoard = new FloatBoard();
</script>