.search-box {
    position: relative;
    height: 50vh;
    width: var(--fillFromMargin);
    margin: var(--margin);
    border: none;
    background: none;
    margin-top: var(--tabMargin);
    align-content: flex-start;
    gap: 0;
    padding: 1px;
}

.floating .search-box {
    height: calc(100% - 50px);
}

.search input {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    border-bottom: var(--standardBorder);
}

.search-box .selector {
    height: 100%;
    overflow: auto;
    width: 100%;
    margin: 0;
    align-content: flex-start;
    border: none;
    padding: var(--padding);
    background: none;
}

.search-box .filters {
    width: var(--fillFromMargin);
    height: var(--fillFromMargin);
    position: absolute;
    left: 0;
    top: 0;
    background: var(--bgColor);
    overflow: auto;
    z-index: 6;
    margin: var(--margin);
}

.search-box .selector li {
    border: none;
    padding: var(--padding);
}

.search-box .buttons {
    border: none;
    background: none;
    top: calc(-1 * var(--tabMargin));
}