.search-box {
    position: relative;
    height: 50vh;
    width: var(--fillFromMargin);
    margin: var(--margin);
    border: none;
    background: none;
    align-content: flex-start;
    gap: 0;
    padding: 1px;
    overflow: auto;
}

.floating .search-box {
    height: calc(100% - 50px);
}

.search input {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    border-bottom: var(--standardBorder);
}

.search-box .selector {
    height: auto;
    overflow: auto;
    width: 100%;
    margin: 0;
    align-content: flex-start;
    border: none;
    padding: var(--padding);
    background: none;
}

.search-box .filters {
    width: 100%;
    height: auto;
    background: var(--bgColor);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px dashed var(--textColor);
    padding: var(--padding);
}

.search-box .filters h5 {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.search-box .selector li {
    border: none;
    padding: var(--padding);
}

.search-box .buttons {
    border: none;
    background: none;
    top: calc(-1 * var(--tabMargin));
}