:root {
    --backgroundColor: rgb(0, 0, 0);
    --textColor: rgb(0, 0, 0);
    --game-size-width: 1600px;
    --game-size-height: 900px;
    --scale: 4;
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: var(--textColor);
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
}

body {
    background-color: var(--backgroundColor);
    position: relative;
    height: 100vh;
}

main {
    position: absolute;
    left: calc(50% - (var(--game-size-width) / 2));
    top: calc(50% - (var(--game-size-height) / 2));
    width: var(--game-size-width);
    height: var(--game-size-height);
}

img {
    image-rendering: pixelated;
    position: absolute;
    user-select: none;
}

.gui {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
}

.area {
    position: absolute;
    width: calc(256px * var(--scale));
    height: calc(144px * var(--scale));
    top: 84px;
    left: 24px;
    user-select: none;
}

.icon {
    position: absolute;
    width: calc(22px * var(--scale));
    height: calc(22px * var(--scale));
    user-select: none;
}

.nother {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.continue {
    position: absolute;
    bottom: 0px;
    right: 444px;
}

.invisible {
    background-image: rgba(0, 0, 0, 0);
}
.pink-bg {
    background-color: rgb(155, 0, 155);
}

.green-bg {
    background-color: rgb(40, 210, 0);
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
}

header {
    background-color: var(--very-dark);
    padding: 3px;
}

main {
    background-color: var(--dark);
    height: 100%;
    position: relative;
} */