<%- include("../../../parts/poiHead.ejs"); %>

<!-- Load Styles Here -->
<link rel="stylesheet" href="/styles/tylers-house.css">

<!-- Your HTML Here -->
<main>
    <h1>Tyler's House</h1>
</main>

<!-- Load Scripts Here -->

<%- include("../../../parts/footer.ejs"); %>