body {
    overflow: auto;
    height: auto;
    max-height: none;
}

main {
    height: auto;
    max-height: none;
}

.game-header {
    width: 100%;
    height: auto;
}

.game-log {
    width: 100%;
    height: 30vh;
    overflow: auto;
}

.player-stats {
    width: 100%;
    border: gray 2px solid;
    margin: 5px;
    border-radius: 5px;
}

.car-inventory {
    width: 100%;
    display: flex;
    overflow-x: auto;
    height: 100px;
}

.car-inventory p {
    margin: 5px;
    min-width: 25%;
    height: auto;
}

.house-inventory {
    width: 100%;
    display: flex;
    overflow-x: auto;
    height: 100px;
}

.house-inventory p {
    margin: 5px;
    min-width: 25%;
    height: auto;
}

.business-inventory {
    width: 100%;
    display: flex;
    overflow-x: auto;
    height: 100px;
}

.business-inventory p {
    margin: 5px;
    min-width: 25%;
    height: auto;
}

.marketplace {
    width: 100%;
    border: gray 2px solid;
    margin: 5px;
    border-radius: 5px;
}

.workplace {
    width: 100%;
    border: gray 2px solid;
    margin: 5px;
    border-radius: 5px;
}