:root {
    --shadow: rgb(71, 71, 71);
    --textColor: rgb(206, 206, 206);
    --woodColor: rgb(170, 117, 68);
    --metalColor: rgb(104, 101, 100);
    --brickColor: rgb(139, 67, 38);
    --gravelColor: rgb(160, 158, 154);
    --grassColor: rgb(50, 93, 61);
    --bgColor: rgb(41, 0, 41);
    --bgColorGradient: rgb(41, 0, 41);
    --bgCanvas: rgb(24, 0, 24);
    --bgCanvasGradient: rgb(24, 0, 24);
}

* {
    font-family: 'Chela One', cursive;
}

main {
    align-content: center;
}

a {
    font-size: 50px;
}