<style>
    <%- include("./index.css"); %>
</style>

<div class="nav">
    <a class="home" href="/apps/s/home">
        &lt; Home
    </a>
    <p>
        &lt; Bible
    </p>
</div>

<div class="bible-viewer"></div>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/util/search-box.js"></script>
<script src="/js/util/browser.js"></script>
<script src="/js/bible-viewer.js"></script>
<script src="/js/login-form.js"></script>
<script src="/js/entity.js"></script>
<script>   
    const bibleViewer = new BibleViewer({
        <% if (user?.data?.username) { %>
            bookmark: "default"
        <% } %>
    });
    bibleViewer.render();

    base.do("migrate-bible-entries");
</script>