/* update bg */
.hero {
    
}

.hero * {
    color: var(--second-color);
    text-shadow: 1px 1px 1px var(--shadow-color);
}

.hero h2 {
    width: auto;
    max-width: var(--max-main-width);
    margin: 0;
    margin-bottom: 20px;
}

.hero>img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.hero>p {
    margin-bottom: 20px;
}

.trans {
    background: var(--third-color);
}

section.news {
    background: var(--fourth-color);
    height: auto;
    padding: 0;  
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
}

section.news .card-list {
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    width: auto;
}

.Christ-centered {
    background: var(--main-color);
}

.Christ-centered * {
    color: var(--second-color);
    text-shadow: 1px 1px 1px var(--shadow-color);
}

.souper {
    position: relative;
    background: rgb(17,37,88);
    width: 50%;
    justify-content: space-around;
}

.souper img {
    width: 100%;
    /* max-width: var(--max-main-width); */
    height: auto;
}

.souper .supper {
    position: absolute;
    top: 50%;
    right: 0;
}

.souper .buttons {
    height: auto;
    display: flex;
    justify-content: center;
}

.buttons .more {
    background: var(--main-color);
}

.buttons .more:hover {
    background: var(--main-color-hover);
}

.info {
    width: 100%;
    max-width: var(--max-main-width);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(235,236,239);
    margin-top: 35px;
}

.souper .also {
    display: none;
}

section.panda .raised {
    min-width: 50%;
}

.panda img {
    width: 400px;
    max-width: 45%;
}

.panda p {
    padding: 20px;
    max-width: 600px;
}

.panda .row {
    padding: 20px;
}

.panda h3 {
    background: rgb(209, 44, 47);
    text-shadow: black 1px 1px 1px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: var(--max-main-width);
    background: var(--second-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.training .info {
    color: rgb(15,38,89);
}

.training .info label {
    width: 90%;
    margin: 3px;
    font-size: var(--pSize);
}

.training .info input[type="number"] {
    width: 20vw;
}

.donate-heart {
    width: 30%;
    height: auto;
    margin: 0 10px;
}

section iframe.side.right {
    padding: 10px;
}

.cross-bg .stake {
    background: #e7edf1;
}

.cross-bg .bar {
    background: #e7edf1;
}

/* 30 DAY EVENT */

.landing {
    width: 100%;
    height: auto;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--main-color);
    z-index: 1000;
}

.landing img.bg {
    width: 90%;
    height: 90%;
    object-fit: cover;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    background: var(--main-color);
}

.landing img.end {
    width: 1000px;
    height: auto;
    max-width: 100%;
    min-width: 50%;
}

.landing p {
    position: absolute;
    top: 15%;
    width: 30%;
    height: 50%;
    font-size: 12px;
    text-shadow: 1px 1px 1px var(--shadow-color);
    text-align: center;
    z-index: 1001;
    background: #ffffff;
}

.landing button {
    position: absolute;
    bottom: 10%;
    padding: 15px 30px;
    font-size: 1.5rem;
    background: var(--second-color);
    color: var(--main-color);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    cursor: pointer;
    z-index: 1001;
}

.advent-daily-event {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}

.advent-daily-event .event-day {
    padding: var(--thickPadding);
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advent-daily-event img {
    width: 65vw;
    height: 100%;
    object-fit: cover;
}

.advent-daily-event .content {
    font-size: 1.9vw;
}

.advent-daily-event .action {
    font-size: 1.9vw;
    color: var(--main-color);
}

.advent-daily-event .previous {
    position: absolute;
    left: 5px;
    top: 30%;
    font-size: 2rem;
    height: 40%;
    color: var(--main-color);
    background: var(--second-color-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    max-width: 7%;
    margin: 0;
    pointer-events: initial;
}

.advent-daily-event .next {
    position: absolute;
    right: 5px;
    top: 30%;
    font-size: 2rem;
    height: 40%;
    background: var(--main-color);
    text-shadow: black 1px 1px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    max-width: 7%;
    margin: 0;
    pointer-events: initial;
}

.advent-daily-event .button-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.inactive {
    pointer-events: none !important;
    display: none !important;
}


@media (orientation: portrait) {
    .landing img.bg {
        width: 100%;
        height: 85svh;
        content: url('/img/events/thanksgiving/Website Graphic square.webp');
    }

    .advent-daily-event {
        flex-direction: column;
        height: auto;
    }

    .advent-daily-event img {
        width: 100%;
        height: auto;
    }

    .advent-daily-event .event-day {
        width: 100%;
        height: auto;
    }

    .advent-daily-event .content,
    .advent-daily-event .action {
        font-size: 4vw;
    }

    .advent-daily-event .previous,
    .advent-daily-event .next {
        display: initial;
        position: initial;
        width: 50%;
        max-width: none;
        border-radius: 0;
        height: 100%;
        pointer-events: initial;
    }

    .advent-daily-event .button-holder {
        position: initial;
        display: flex;
        height: 10vh;
        max-height: 100px;
        pointer-events: none;
    }

    .inactive {
        pointer-events: none !important;
        opacity: 0.5 !important;
        display: initial !important;
    }
}

/* styles for screens under 1000px wide */
@media only screen and (max-width: 1000px) {
    .souper {
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    section.news .card-list {
        gap: 25px;
        height: auto;
        padding: 55px;
        padding-bottom: 75px;
    }
}

/* styles for screens under 1500px wide */
@media only screen and (max-width: 1500px) {
    .hero {
        background: url('/img/office/chehalis_sky_web_medium.webp');
        background-size: cover;
        background-position: center;
    }

    section.souper {
        width: 100%;
    }

    .souper .also {
        display: flex;
    }
    
    section.panda {
        width: 100%;
    }
}