<style>
    <%- include('./home.css'); %>
</style>

<!-- Hero -->
<section class="hero">
    <img src="/img/office/chehalis_sky_web_medium.webp" alt="">
    <div class="raised fade">
        <h2>Mobilizing the Church to Transform Lives</h2>
        <p class="central-info">
            This happens when local Christian churches unite in purpose in our 
            Lord Jesus Christ - fully engaged in 
            actively living out the Faith by lovingly 
            serving people in need in their communities.
        </p>
        <div class="row">
            <a class="external" href="/resources">View Resources</a>
        </div>
    </div>
</section>

<section class="hiring row">
    <img src="/img/logo-icon-transparent-mono.png" class="bg">
    <img src="/documents/jobs/admin-assist/posting.webp" alt="Admin Assistant Job Posting" class="post">
    <div class="action">
        <a target="_blank" href="/documents/jobs/admin-assist/admin assist description.pdf" class="external">Admin Assistant Job Description</a>
        <a target="_blank" href="/documents/jobs/2026 Employment Application.pdf" class="external">Employment Application</a>
    </div>
</section>

<section class="love-story">
    <div class="top">
        <p>
            After three years behind bars, John walked out with a duffel bag, a worn Bible and a fragile sense of hope. 
            With no home to return to, he made his car his shelter—sleeping in the backseat and relying on its engine for warmth.
        </p>
    
        <p>
            Determined to rebuild his life, John enrolled in community college, taking each day one step at a time. But as winter set in, the cold deepened. 
            Gas was scarce, his car tabs were expired, and the risk of a ticket threatened everything he was working toward.
        </p>
    
        <p class="final">
            Exhausted and discouraged, he reached out to Love INC. What he found wasn't just a help—it was kindness.
        </p>
    
        <p class="quote">
            "I cannot express my gratitude to all of you. Please tell everyone that you made a big difference in my life and I 
            will continue to improve myself so that others may be as inspired by my actions as I have by yours. Thank you all." <span>John</span>
        </p>
    </div>

    <div class="row">
        <img src="/img/love story/not actual image of John.webp" alt="Not Actual Image of John">
    
        <div>
            <p>
                He was welcomed, listened to, and prayed for. Through your support, we were able to provide new tabs for his car, giving him not only warmth and transportation,
                but peace of mind.
            </p>
        
            <p>
                That simple act sparked something deeper in John—a renewed sense of hope. For the first time in months, he felt seen, valued and not alone. 
            </p>
        
            <p>
                Sitting in his car that night, heat running and new tabs in place, John experienced something steady and real: love that reminded him his story isn't over.
            </p>
        </div>
    </div>
</section>

<div class="mailing-list-anchor"></div>

<section class="row Christ-centered">
    <img src="/img/office/Camps and Hansen2026.webp" alt="Smiling Volunteers" class="side left">
    <div class="half column">
        <h3>Love INC is Christ-Centered</h3>
        <p>
            All that we do and say must honor and glorify our Lord Jesus Christ. 
            We believe that churches are called to live and labor in the love of the Creator by doing, sharing 
            and growing in His goodness as they endeavor to reveal and share the love of Christ to others in all
            aspects of their lives.  (cf. Romans 12:2)
        </p>
        <div class="row">
            <a class="external" href="https://secure.givelively.org/donate/love-in-the-name-of-christ-of-lewis-county" target="_blank">Donate</a>
        </div>
        <p>Thank you for your generous support of this ministry in <%= new Date().getFullYear() %>.</p>
    </div>
</section>

<section class="row trans">
    <iframe title="Church Partner Testomonials Video" class="side right" src="https://player.vimeo.com/video/996353103?h=ef9c372dc3&byline=0&portrait=0"
     frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen></iframe>
    <div class="half column">
        <h3>An Instrument of Transformation</h3>
        <p>
            The Scriptures urge us to not be conformed to the patterns of this world, but instead to be vessels of God’s
            purpose on earth.  Through the gifts given us, our actions, words and deeds become opportunities for ministry
            and leadership as God’s instruments through instruction, correction and guidance.  (cf. 2 Timothy 3:16-17; 
            Romans 12:1-2; 2 Corinthians 3:18)
        </p>
        <a class="external" href="/getInvolved">Join the Mission</a>
    </div>
</section>

<section class="news">
    <div class="cross-bg">
        <div class="stake">
            <div class="bar"></div>
        </div>
    </div>

    <div class="raised card-list">
        <div class="card">
            <h5>October Newsletter</h5>
            <p>
                Learn what's going on at Love INC of Lewis County this month!
            </p>
            <p>
                Click the link below to download the October newsletter.
            </p>
            <a class="external bottom-button" download="Love INC 2025 October Newsletter.pdf" href="/documents/newsletters/2025/october.pdf">Download the Newsletter</a>
        </div>

        <div class="card">
            <h5>Thank You Jim Holding!</h5>
            <p>
                Jim volunteered with Love INC for 20 years. We are grateful for his service 
                and dedication to the ministry.
            </p>
            <p>
                Click the link below to learn more about Jim's history of
                volunteer service on the Chronicle Newspaper.
            </p>
            <a target="_blank" class="external bottom-button" href="https://chronline.com/stories/longtime-love-inc-volunteer-retires-after-20-years-of-service,342417?">Read the Article</a>
        </div>

        <div class="card">
            <h5>Part of a Global Community</h5>
            <p>
                We seek out and grow relationships with local churches and the larger community around the world.  
                (cf. Matthew 28:18-20; Acts 1:8)
            </p>
            <p>Please keep praying for our neighbors in need. God Bless You!</p>
        </div>
    
        <div class="card">
            <h5>God Loves Us</h5>
            <!-- icon -->
            <p class="text">
                "For God so loved the world that he gave his one and only Son, 
                that whoever believes on him shall not perish, but have eternal life."
            </p>
            <p class="reference">- John 3:16</p>
            <!-- icon -->
            <a class="external bottom-button" href='/love-story?story=original'>Read a Love Story</a>
        </div>
    </div>
</section>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator({
        signUpAfter: ".mailing-list-anchor",
        enableExperimental: <%= query.preview ? true: false %>
    });

    base.do("tally", { route: "/scripts" });
    setTimeout(() => {
        setInterval(() => {
            base.do("tally-extra", { route: "/scripts" });
        }, 30000);
    }, 3000);

    // Daily Event Script using Jquery
    // Replace the image and text based on the day of the month
    // const content = [
    //     `What needs clearing out in your heart?`,
    //     'Where do you need reassurance of God’s presence?',
    //     'Where are you struggling to wait?',
    //     'Where do you see His light today?',
    //     'What gives you joy in Christ?',
    //     'What fear can you hand to Him?',
    //     'How do you sense God with you?',
    //     'What noise distracts you from Him?',
    //     'Where do you see His life at work?',
    //     'What direction do you need?',
    //     'What can you simplify in your heart today?',
    //     'How do you need Him to be near?',
    //     'What step of obedience can you take today?',
    //     'What promise of God are you waiting on right now?',
    //     'Where do you need courage?',
    //     'Where do you need peace?',
    //     'Where do you need renewed hope today?',
    //     'Where do you need His grace?',
    //     'What worry do you need to hand over?',
    //     'What do you need to trust Him for?',
    //     'What hope are you clinging to?',
    //     'Where do you need saving or strength?',
    //     'How can you draw near to Him tonight?',
    //     'How will you celebrate Jesus today?'
    // ];

    // const action = [
    //     `Spend five quiet minutes with God.`,
    //     `Thank Him for one promise He has already kept.`,
    //     `Practice stillness for two minutes.`,
    //     `Encourage one person who needs hope.`,
    //     `Send a gratitude text to someone.`,
    //     `Write one fear, then pray over it.`,
    //     `Notice one moment of His nearness today.`,
    //     `Turn off one device for ten minutes.`,
    //     `Share one hopeful word with someone.`,
    //     `Read one Psalm slowly tonight.`,
    //     `Let go of one unhelpful thought.`,
    //     `Pray honestly for one minute.`,
    //     `Choose one simple act of kindness.`,
    //     `Write it down and ask God to strengthen your heart as you wait..`,
    //     `Speak one truth you need to remember.`,
    //     `Take three deep breaths and pray for calm.`,
    //     `Pause for one minute and ask God to restore your hope in one specific area.`,
    //     `Offer grace to someone today.`,
    //     `Say a short prayer releasing it.`,
    //     `Thank Him for one way He has provided.`,
    //     `Write one hope filled prayer.`,
    //     `Pray for His mighty help today.`,
    //     `Light a candle and pray for His presence.`,
    //     `Share one blessing God has given you this year.`
    // ];

    // let currentDay = new Date().getDate();
    // let currentMonth = new Date().toLocaleString('default', { month: 'long' });
    // if (currentDay > 25 || currentMonth !== "December") currentDay = 25; // limit to day 25

    // let updateEvent = (day) => {
    //     $(".advent-daily-event img").attr("src", `/img/events/advent/2025/Day ${day}.webp`);
    //     $(".advent-daily-event .event-day .content").text(content[day - 2]);
    //     $(".advent-daily-event .event-day .action").text(action[day - 2]);

    //     if (day <= 2) {
    //         $(".advent-daily-event .previous").addClass("inactive");
    //     } 
    //     else {
    //         $(".advent-daily-event .previous").removeClass("inactive");
    //     }
        
    //     if ((currentMonth === "December" && day >= currentDay) || day >= 25) {
    //         $(".advent-daily-event .next").addClass("inactive");
    //     } 
    //     else {
    //         $(".advent-daily-event .next").removeClass("inactive");
    //     }

    //     if (currentMonth === "December" || currentMonth === "January") $(".advent-daily-event").removeClass("invisible");
    // };

    // let viewingDay = currentDay;
    // $(".advent-daily-event .previous").click(() => {
    //     if (viewingDay > 2) {
    //         viewingDay--;
    //         if (viewingDay < 2) viewingDay = 2;
    //         updateEvent(viewingDay);
    //     }
    // });

    // $(".advent-daily-event .next").click(() => {
    //     if (viewingDay < 25) {
    //         viewingDay++;
    //         if (viewingDay > 25) viewingDay = 25;
    //         updateEvent(viewingDay);
    //     }
    // });

    // updateEvent(viewingDay);
</script>