.meta {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    min-height: 200px;
    align-content: flex-start;
    overflow: auto;
    height: 100% !important;
    padding-top: 35px;
    /* backdrop-filter: blur(5px); */
}

.browser {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--bgColor);
    padding: var(--padding);
    padding-top: 35px;
}

.browser div {
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.browser.open {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.floating .browser {
    width: 100%;
    height: 100%;
    position: static;
    margin: 0;
}

.browser .ui {
    width: 100%;
    height: 50px;
    border: var(--standardBorder);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.browser .edit {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    margin: 0;
    overflow: auto;
    align-items: flex-start;
}

.browser .read.nested, .browser .edit.nested {
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    flex-direction: row;
}

.browser .read.multiple.nested, .browser .edit.multiple.nested {
    flex-direction: column;
}

.browser h4 {
    background: none;
    width: auto;
    margin: 0;
    height: 40px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
}

.browser ul.content {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: auto;
    border: none;
}

.browser img.image {
    width: 100%;
    height: auto;
    max-height: 30vh;
    object-fit: contain;
    background: var(--tint);
}

.browser .read {
    width: 100%;
    overflow: auto;
    display: flex;
    height: auto;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: var(--padding);
}

.meta>.browser>.read, .meta>.browser>.edit {
    height: calc(100% - 40px);
}

.meta>.tree.browser>.read, .meta>.tree.browser>.edit {
    height: calc(100% - 80px);
}

.browser .read p, .browser .edit p {
    background: none;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 0;
}

.browser .buttons {
    height: 55px;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    align-content: flex-start;
    overflow: auto;
    flex-direction: column;
}

.browser button {
    margin-top: 0;
    margin-bottom: 0;
}

.browser button.moveUp {
    margin: 0;
    width: 25%;
    margin-left: 5px;
    margin-top: 15px;
}

.browser button.moveDown {
    margin: 0;
    width: 25%;
    margin-left: 5px;
    margin-top: 15px;
}

.browser button.remove {
    margin: 0;
    margin-left: 25%;
    margin-top: 15px;
}

.browser input {
    width: 100%;
    margin: 0;
}

.browser .with-buttons {
    margin-bottom: 50px !important;
}

.browser .object {
    width: 100%;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    border: none;
    margin: 0;
}

.browser .multiple .nested {
    padding: 1px;
}

.meta .alert {
    position: absolute;
    top: 50px;
    height: 100px;
    width: var(--fillFromMargin);
    left: var(--margin);
    background-color: var(--bgColor);
    border: var(--standardBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.meta .alert .hide {
    position: absolute;
    top: 5px;
    height: 30px;
    width: 30px;
    right: var(--margin);
    background-color: var(--bgColor);
    border: var(--standardBorder);
    text-align: center;
}

.browser input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin: var(--margin);
}

.browser .edit .add {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    border: var(--standardBorder);
    height: 40px;
    border-radius: 0;
}

.browser p.long-string {
    overflow: auto;
}

.browser .tabs #delete * {
    margin: 0;
}

.browser select {
    width: auto;
    height: var(--inputHeight);
    margin: 0;
    margin-right: 5px;
}

.browser>#child-buttons {
    order: 99;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
}

.browser>#child-buttons button {
    width: auto;
    height: 40px;
    margin: 0;
    margin-right: 5px;
}

.meta .search-box {
    height: 100%;
}

.search-box.humble {
    overflow: hidden;
}

.browser .popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 30px);
    overflow: auto;
    padding: 50px 20px;
    margin-top: 30px;
    background: var(--bgColor);
}

.browser .popup #close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.meta .loading-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

@media screen and (min-width: 570px) {
    main.full-view .meta {
        width: 700px;
        height: 100%;
    }
}