.fence {
    aspect-ratio: 2 / 1;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.left {
    position: absolute;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
    display: flex;
}

.right {
    position: absolute;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
    display: flex;
}

.bar {
    background-color: rgb(94, 94, 94);
    height: 100%;
    width: 5%;
    margin: 0 2.5%;
}

.left .bar {
    transform: rotate(-45deg);
}

@keyframes wiggleLeft {
    0%   {
        transform: rotate(-45deg);
    }
    20%  {
        transform: rotate(-60deg);
    }
    40%  {
        transform: rotate(-45deg);
    }
    60%  {
        transform: rotate(-45deg);
    }
    80%  {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

.right .bar {
    transform: rotate(45deg);
}

.grass {
    width: 100%;
    background-color: rgb(137, 184, 158);
    aspect-ratio: 1 / 1;
    position: relative;
}

.fence .grass {
    height: 7%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.path {
    width: 100%;
    border: 5px solid rgb(73, 67, 54);
    margin: 0;
}

.pond {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 60%;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 30%;
}

.topLeaf, .rightLeaf, .bottomLeaf, .leftLeaf {
    border-radius: 50% 50% 0 0;
}

#left-area {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 33%;
    height: 98%;
    background: none;
    margin: 0;
}

#right-area {
    position: absolute;
    right: 1%;
    top: 64%;
    width: 60%;
    height: 36%;
    background: none;
    margin: 0;
}