<link rel="stylesheet" href="/styles/pond.css">
<style>
    <%- include("../styles/the-front.css"); %>
    <%- include("./around.css"); %>
</style>

<p>
    You walk along the length of the fence for a few minutes.
    No other entrance is in sight.
</p>

<div class="fence">
    <div class="right">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="left">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="grass ground"></div>
</div>

<hr class="path">

<div class="chat-box" id="the-front-park-bench"></div>

<div class="grass">
    <div class="pond"></div>
</div>


<hr>

<a class="return" href="/the-front/gate">
    Return to the Gate
</a>

<script src="/js/entity.js"></script>
<script src="/js/chat-box.js"></script>
<script src="/js/pond.js"></script>
<script src="/js/util/weather.js"></script>
<script src="/js/plants/part.js"></script>
<script src="/js/plants/flower-bed.js"></script>
<script>
    // const weather = new WeatherSystem("random");
    
    <% if (user) { %>
        let chat = new ChatBox("<%= user.memory.data.username %>", "the-front-park-bench");
    <% } else { %>
        let chat = new ChatBox("An Unknown Person", "the-front-park-bench");
    <% } %>

    const pond = new Pond(5);

    const sunflowerSeed = {
        stem: {
            imgs: [ "/img/textures/substance.png" ],
            spawns: [
                {
                    position: { minX: 0, minY: 0, maxX: 95, maxY: 95 },
                    rotation: { minAngle: -1, maxAngle: 1 }
                }
            ],
            growth: { minTime: 10000, spawnTime: 110, maxTime: 20000 },
            size: { minX: 3, minY: 75, maxX: 5, maxY: 100 },
            children: {
                seeds: {
                    cooldown: 100, 
                    potentialDelay: 100
                }
            },
            max: 1,
            spawnRate: { cooldown: 100, potentialDelay: 100 },
            recursionMax: 1
        },
        seeds: {
            imgs: [ "/img/textures/used desk.png" ],
            spawns: [{
                position: { minX: -25, minY: 95, maxX: -25, maxY: 99 },
                rotation: { minAngle: 0, maxAngle: 360 }
            }],
            growth: { minTime: 10000, spawnTime: 110, maxTime: 20000 },
            size: { minX: 10, minY: 10, maxX: 10, maxY: 10 },
            children: {
                topLeaf: {
                    cooldown: 100, 
                    potentialDelay: 100
                },
                rightLeaf: {
                    cooldown: 100, 
                    potentialDelay: 100
                },
                bottomLeaf: {
                    cooldown: 100, 
                    potentialDelay: 100
                },
                leftLeaf: {
                    cooldown: 100, 
                    potentialDelay: 100
                }
            },
            max: 1,
            spawnRate: { cooldown: 100, potentialDelay: 100 },
            recursionMax: 1
        },
        topLeaf: {
            imgs: [ "/img/textures/substance.png" ],
            spawns: [{
                position: { minX: 0, minY: 90, maxX: 75, maxY: 99 },
                rotation: { minAngle: -45, maxAngle: 45 }
            }],
            growth: { minTime: 50000, spawnTime: 110, maxTime: 200000 },
            size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
            children: {},
            max: 10,
            spawnRate: { cooldown: 100, potentialDelay: 100 },
            recursionMax: 2
        },
        rightLeaf: {
            imgs: [ "/img/textures/substance.png" ],
            spawns: [{
                position: { minX: 90, minY: 0, maxX: 99, maxY: 75 },
                rotation: { minAngle: 45, maxAngle: 135 }
            }],
            growth: { minTime: 50000, spawnTime: 110, maxTime: 200000 },
            size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
            children: {},
            max: 10,
            spawnRate: { cooldown: 100, potentialDelay: 100 },
            recursionMax: 2
        },
        bottomLeaf: {
            imgs: [ "/img/textures/substance.png" ],
            spawns: [{
                position: { minX: 0, minY: 0, maxX: 75, maxY: 5 },
                rotation: { minAngle: 135, maxAngle: 225 }
            }],
            growth: { minTime: 50000, spawnTime: 110, maxTime: 200000 },
            size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
            children: {},
            max: 10,
            spawnRate: { cooldown: 100, potentialDelay: 100 },
            recursionMax: 2
        },
        leftLeaf: {
            imgs: [ "/img/textures/substance.png" ],
            spawns: [{
                position: { minX: 0, minY: 0, maxX: 5, maxY: 75 },
                rotation: { minAngle: 225, maxAngle: 315 }
            }],
            growth: { minTime: 50000, spawnTime: 110, maxTime: 200000 },
            size: { minX: 5, minY: 15, maxX: 10, maxY: 15 },
            children: {},
            max: 10,
            spawnRate: { cooldown: 100, potentialDelay: 100 },
            recursionMax: 2
        }
    };
    const flowerBed = new FlowerBed([sunflowerSeed]);
</script>