:root {
    /* colors */
    --tint: rgba(255, 203, 118, 0.123);
    --bgColor: rgb(250, 250, 250);
    --bgColorGradient: linear-gradient(170deg, rgb(235, 235, 235) 0%, rgb(246, 245, 245) 100%);
    --bgCanvas: rgb(185, 185, 185);
    --bgCanvasGradient: linear-gradient(170deg, rgb(224, 224, 224) 0%, rgb(212, 212, 212) 100%);
    --darkBgColor: rgba(248, 239, 216, 0.557);
    --darkBgColorGradient: linear-gradient(170deg, rgba(27,27,27,1) 0%, rgba(5,5,5,1) 100%);
    --veryDarkBgColorTransparent: rgba(15, 15, 15, 0.404);
    --veryDarkBgColor: rgb(206, 171, 120);
    --hoverColor: rgb(228, 228, 228);
    --hoverGradient: linear-gradient(170deg, rgb(228, 228, 228) 0%, rgb(255, 255, 255) 100%);
    --hoverTextColor: rgb(101, 101, 101);
    --selectedTextColor: rgb(56, 56, 56);
    --shadowColor: rgba(192, 192, 192, 0.571);
    --brightShadowColor: rgba(215, 212, 212, 0.82);
    --textColor: rgb(36, 36, 36);
    --textColorBright: rgb(101, 101, 101);
    /* borders */
    --standardBorder: 1px solid var(--shadowColor);
    --thickBorder: 3px groove var(--shadowColor);
    --brightBorder: 1px solid var(--brightShadowColor);
    --brightThickBorder: 3px double var(--brightShadowColor);
    --darkBorder: 1px solid var(--textColor);
    --borderRadius: 3px;
    /* font */
    --h1Size: 32px;
    --h2Size: 22px;
    --h3Size: 18px;
    --h4Size: 18px;
    --h5Size: 16px;
    --pSize: 15px;
    --tinyText: 15px;
    --inputHeight: 42px;
    /* boxes */
    --padding: 5px;
    --mediumPadding: 10px;
    --thickPadding: 20px;
    --margin: 5px;
    --thickMargin: 20px;
    --tabMargin: 50px;
    --mainWidth: 97vw;
    --maxMainWidth: 900px;
    --boxShadow: 2px 1px 2px 1px var(--shadowColor);
    --goHeight: 100px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--textColor);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--textColorBright);
}

* {
    box-sizing: border-box;
    color: var(--textColor);
    /* text-shadow: 1px 1px 2px var(--shadowColor); */
    font-size: var(--pSize);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    /* border-radius: var(--borderRadius); */
}

.alt * {
    color: var(--bgColor);
}

.alt {
    color: var(--bgColor);
}

.invisible {
    display: none !important;
}

button.disabled {
    border: none;
    background: var(--bgColor);
}

button.disabled:hover {
    cursor: default;
    border: none;
    background: var(--bgColor);
    color: var(--textColor);
}

.unselectable {
    user-select: none !important;
}

.camo {
    transition: all .15s;
    opacity: 0;
}

html {
    height: 100%;
    background: var(--bgCanvas);
    background: var(--bgCanvasGradient);
    /* background: url("/img/textures/glass-sea/5.jpeg"); */
    background-attachment: fixed;
}

body {
    background: none;
    min-height: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: var(--padding);
    padding: 60px;
}

main {
    width: var(--mainWidth);
    max-width: var(--maxMainWidth);
    min-height: 300px;
    box-shadow: var(--boxShadow);
    padding: 0;
    padding-top: var(--thickPadding);
    padding-bottom: var(--thickPadding);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-end;
    background-color: var(--bgColor);
    z-index: 0;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: var(--bgColor);
    border-radius: 0px 0px 5px 5px;
    box-shadow: var(--boxShadow);
    padding: 0;
    padding-left: 1vw;
    border: none;
    top: 0;
    left: 0;
}

footer button {
    margin: 0;
    height: 100%;
    /* border-radius: 0; */
}

footer a {
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 0;
    background: none;
}

section {
    width: 100%;
    margin: var(--margin);
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    align-content: flex-end;
    min-height: 30px;
    position: relative;
}

article {
    width: 100%;
    position: relative;
    border: var(--standardBorder);
    display: flex;
    flex-wrap: wrap;
}

.code {
    width: 100%;
    padding: 20px;
    background: rgb(18, 18, 18);
    border-radius: 2px;
    border: 1px solid rgb(58, 58, 58);
    color: rgb(191, 170, 145);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    overflow: auto;
}

h1 {
    font-size: var(--h1Size);
    padding: var(--thickPadding);
    width: 100%;
    text-align: center;
}

h2 {
    font-size: var(--h2Size);
    padding: var(--thickPadding);
    width: 100%;
    text-align: left;
}

h3 {
    font-size: var(--h3Size);
    padding: var(--padding);
    width: 100%;
    text-align: left;
}

h4 {
    font-size: var(--h4Size);
    border-bottom: var(--standardBorder);
    width: 100%;
    text-align: center;
    padding: var(--padding);
}

h5 {
    font-size: var(--h5Size);
    width: 100%;
    padding: var(--padding);
    text-align: left;
}

h6 {
    font-size: var(--pSize);
    width: auto;
    padding: var(--padding);
    text-align: left;
}

hr {
    border: none;
    border: 2px solid var(--shadowColor);
    margin-top: var(--thickMargin);
    margin-bottom: var(--thickMargin);
    width: 100%;
    border-radius: 0;
    /* box-shadow: var(--boxShadow); */
}

p {
    color: var(--textColor);
    width: 100%;
    padding: var(--padding);
    font-size: var(--pSize);
    height: auto;
}

ul {
    border: var(--standardBorder);
    width: 100%;
    list-style: none;
    margin: var(--margin);
    padding: var(--padding);
}

li {
    border: var(--standardBorder);
    padding: var(--thickPadding);
}

textarea {
    padding: var(--thickPadding);
    width: 100%;
    border: none;
    border-radius: var(--borderRadius);
    margin: var(--margin);
    background: var(--bgColorGradient);
}

textarea:focus {
    outline: none;
    border: none;
}

select {
    border: none;
    border-radius: var(--borderRadius);
    background: var(--bgColorGradient);
    cursor: pointer;
    padding: var(--padding);
    height: var(--inputHeight);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

select:focus {
    outline: none;
    border: none;
}

label {
    padding: var(--padding);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

input {
    padding: var(--thickPadding);
    width: 100%;
    background: var(--bgColorGradient);
    border: none;
    border-radius: var(--borderRadius);
    height: var(--inputHeight);
    margin: var(--margin);
    font-size: clamp(var(--littleP), var(--pSize), var(--littleP) * 2);
}

input:focus {
    outline: none;
    border: none;
}

input[type=checkbox] {
    width: 20%;
    height: 30px;
    margin: var(--margin);
}

input[type=submit] {
    padding: var(--thickPadding);
    border-radius: var(--borderRadius);
    border: var(--standardBorder);
    color: var(--textColor);
    text-decoration: none;
    text-align: center;
    margin: var(--margin);
    font-size: clamp(var(--littleP), var(--pSize), var(--littleP) * 2);
}

button {
    background: var(--bgColorGradient);
    padding: var(--mediumPadding);
    border: none;
    border-radius: var(--borderRadius);
    color: var(--textColor);
    text-decoration: none;
    text-align: center;
    margin: var(--margin);
    font-size: clamp(var(--littleP), var(--pSize), var(--littleP) * 2);
}

button:hover {
    border: none;
    color: var(--textColorBright);
    cursor: pointer;
    background: var(--hoverColor);
}

input[type=submit]:hover {
    border: var(--brightBorder);
    color: var(--textColorBright);
    cursor: pointer;
    background: var(--bgColor);
}

/* links */
a {
    background: var(--bgColorGradient);
    padding: var(--thickPadding);
    border: none;
    border-radius: var(--borderRadius);
    color: var(--textColor);
    text-decoration: none;
    text-align: center;
    margin: var(--margin);
    font-size: clamp(var(--littleP), var(--pSize), var(--littleP) * 2);
}

a i.space {
    margin-right: 5px;
}

a:hover {
    border: none;
    color: var(--textColorBright);
    cursor: pointer;
    background: var(--hoverColor);
}

a:hover * {
    color: var(--textColorBright);
}

a.alt {
    border-bottom: 1px solid var(--bgColor) !important;
}

a.alt:hover {
    border-bottom: 1px solid var(--textColorBright) !important;
}

a.subtle {
    padding: 1px;
    background: none;
    border: none;
    border-bottom: var(--standardBorder);
    border-radius: 0;
}

a.subtle:hover {
    border: none;
    border-bottom: 1px solid var(--textColorBright);
    border-radius: 0;
}
/*  */

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: var(--standardBorder);
    margin: var(--margin);
}

p.info {
    color: var(--selectedTextColor);
    text-align: center;
}

.locked {
    background-color: var(--bgColor);
    border: 1px solid var(--textColor);
    color: var(--textColor);
    filter: brightness(.5);
    user-select: none;
}

.locked:hover {
    background-color: var(--bgColor);
    border: 1px solid var(--textColor);
    color: var(--textColor);
    cursor: default;
    filter: brightness(.5);
    user-select: none;
}

.go {
    width: 100%;
    height: var(--goHeight);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: var(--thickPadding);
    margin: var(--margin);
}

.to {
    width: 100%;
    height: var(--goHeight);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: var(--thickPadding);
    margin: var(--margin);
}

.return {
    width: 100%;
    height: var(--goHeight);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: var(--margin);
    overflow: hidden;
}

.do {
    width: 33%;
    height: var(--goHeight);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: var(--thickPadding);
    margin: var(--margin);
}

ul.selector>li {
    width: 100%;
    overflow: hidden;
    font-size: clamp(var(--littleP), var(--pSize), var(--littleP) * 2);
    border: none;
    min-height: 40px;
    margin-top: var(--margin);
    display: flex;
    align-items: center;
    background: var(--bgColorGradient);
    border-radius: var(--borderRadius);
}

ul.selector>li:hover {
    cursor: pointer;
    background: var(--hoverColor);
    color: var(--hoverTextColor);
}

ul.selector>li.selected {
    background: var(--selectionColor);
    color: var(--selectedTextColor);
}

ul.selector>li.disabled {
    color: var(--textColor);
    border: none;
    cursor: default;
}

.click-me {
    background: var(--selectionColor);
    color: var(--selectedTextColor);
    cursor: pointer;
}

.click-me:hover {
    background: var(--hoverColor);
}

.painting {
    border: 3px solid var(--darkWoodColor);
    background: var(--hoverColor);
    width: 5vh;
    height: 5vh;
    object-fit: cover;
    align-self: flex-start;
}

.door {
    border: var(--standardBorder);
    width: 150px;
    height: 250px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding);
    padding-top: 30px;
}

.door>.knob {
    position: absolute;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    right: 15%;
    top: 50%;
    background-color: var(--darkWoodColor);
}

iframe {
    border: none;
}

.login-cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.login-cover .form {
    border: none;
}

.login-cover a {
    padding: var(--padding);
    margin: 0 40px;
    border: none;
}

.login-cover h3 {
    margin: 0;
    text-align: center;
}

.login-cover h4 {
    border: none;
    text-align: left;
}

.login-cover button {
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.login-cover a img {
    width: 50%;
}

.dialogue {
    width: 100%;
    max-width: var(--maxMainWidth);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 300px;
    background-color: var(--bgColor);
}

.dialogue>h4 {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.dialogue .portrait {
    aspect-ratio: 3 / 2;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.dialogue .heart {
    width: 5px;
    height: 100%;
    background-color: var(--textColor);
    border-radius: var(--borderRadius);
    margin: 0;
}

.dialogue>h4 p {
    width: auto;
}

.dialogue .content {
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bgColor);
}

.dialogue .content p {
    text-align: center;
}

.dialogue .selected {
    border: none;
}

.merchant {
    width: 100%;
    border: var(--standardBorder);
    min-height: 100px;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--margin);
}

.merchant div {
    border: var(--standardBorder);
    width: 165px;
    padding: var(--padding);
    margin: var(--margin);
}

.merchant div button {
    margin: 0;
    width: 100%;
}

.memo {
    width: 100%;
    margin: var(--margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.limb {
    transform-origin: bottom center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 1;
}

.conchu {
    border: 3px dotted var(--textColor) !important;
    background: url("/img/misc/conchu.jpg") !important;
}

.basic {
    border: var(--standardBorder);
    background: var(--darkBgColor);
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    flex-wrap: wrap;
    align-content: center;
}

.folder {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    margin: 0;
}

.ground {
    width: 100%;
    min-height: 10px;
    position: relative;
    background: rgb(56, 31, 17);
    margin-top: 50px;
}

.tabs {
    position: absolute;
    bottom: calc(-1 * var(--tabMargin));
    width: 100%;
    height: var(--tabMargin);
    left: 0;
}

.hud {
    display: flex;
    min-height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.hud>.left, .hud>.right {
    max-width: 70%;
}

/* for screens smaller than 1000px */
@media screen and (max-width: 1000px) {
    .float-elements {
        display: none;
    }

    .lock-elements {
        display: none;
    }

    .float-board {
        display: none;
    }

    .hud {
        flex-wrap: wrap;
    }
    
    .hud>.left, .hud>.right {
        max-width: 100%;
        /* width: 100%; */
    }
}

/* for screens smaller than 570px */
@media screen and (max-width: 570px) {
    footer .view-toggle {
        display: none;
    }
}

/* for screens larger than 570px */
@media screen and (min-width: 570px) {
    main.full-view {
        flex-direction: column;
        overflow: auto;
        overflow-y: hidden;
        max-width: initial;
        height: calc(100vh - (2 * var(--thickMargin)) - 40px);
        width: 95vw;
        column-gap: 5px;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    main.full-view hr {
        height: 100%;
        width: 0;
    }

    main.full-view hr.forced {
        width: var(--maxMainWidth);
        height: 0;
    }

    main.full-view .go {
        width: 200px;
        max-width: var(--maxMainWidth);
    }
    
    main.full-view .to {
        width: 200px;
        max-width: var(--maxMainWidth);
    }
    
    main.full-view .return {
        max-width: var(--maxMainWidth);
    }
    
    main.full-view .do {
        max-width: var(--maxMainWidth);
    }

    main.full-view>p {
        max-width: var(--maxMainWidth);
    }

    main.full-view>ul {
        max-width: var(--maxMainWidth);
    }

    main.full-view>section {
        max-width: var(--maxMainWidth);
    }
}